<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="layui-form">
    <thead>
    <tr>
        <th>比较</th>

        <th>厂商</th>

        <th>型号</th>


        <th _hover-ignore="1">系列</th>
        <th>代号</th>

        <th>主频</th>
        <th>核数</th>

        <th>超线程</th>
        <th>主缓存</th>


        <th class="th_passmark">Passmark<br>(多核)<br>&nbsp;</th>
        <th class="th_superpi">Superpi<br>1M<br>(单核)</th>

        <th class="th_superpi">Superpi<br>32M<br>(单核)</th>

        <th class="th_wprime">wPrime<br>32M<br>(多核)</th>

        <th class="th_wprime">wPrime<br>1024M<br>(多核)</th>
        <th class="th_cinebench">Cinebench<br>R10 32<br>(单核)</th>
        <th class="th_cinebench">Cinebench<br>R10 32<br>(多核)</th>

        <th class="th_cinebench">Cinebench<br>R115<br>&nbsp;</th>
        <th class="th_3dmark">3DMark06<br>CPU<br>&nbsp;</th>
        <th class="th_fritz">Fritz国际象棋<br>(多核)<br>&nbsp;</th>
        <th class="th_wincpu">Win7<br>CPU<br>指数</th>
        <th class="th_wincpu">Win8<br>CPU<br>指数</th>


        <th>核显</th>
        <th>工艺</th>

        <th>用途</th>
        <th>年份</th>
        <th>热设计功耗</th>
        <th>接口</th>
        <th>芯片组</th>
        <th>步进</th>
        <th>规格代码</th>


    </tr>
    </thead>
    <tbody>


    <tr data-id="531">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Quad-Core-Black-Edition-A8-Series-APU-for-Desktop-AMD-A8-3870K-with-AMD-Radeon-HD-6550D-Graphics"
               target="_blank">A8-3870K</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>3000 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">3682</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6550d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>100 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="532">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Desktops-AMD-A8-3850-APU-with-Radeon-HD-6550D"
               target="_blank">A8-3850</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2900 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">3554</td>
        <td class="superpi_1m">20.6</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">13.6</td>

        <td class="wprime_1024m">421</td>
        <td class="cinebench_r10_32_single">2649</td>
        <td class="cinebench_r10_32_multi">9534</td>

        <td class="cinebench_r115_64">3.4</td>
        <td class="d3mark06cpu">4027</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6550d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>100 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="535">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Desktops-AMD-A6-3650-APU-with-Radeon-HD-6530D"
               target="_blank">A6-3650</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2600 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">3234</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">10</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6530d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>100 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="527">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Desktops-AMD-A8-3820-with-AMD-Radeon-HD-6550D"
                target="_blank" _hover-ignore="1">A8-3820</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2500~2800 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">3211</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6550d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="B0">B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="533">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Desktops-AMD-A8-3800-APU-with-Radeon-HD-6550D"
               target="_blank">A8-3800</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2400~2700 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">3188</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6550d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="526">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Desktops-AMD-A6-3620-with-AMD-Radeon-HD-6530D"
               target="_blank">A6-3620</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2200~2500 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2897</td>
        <td class="superpi_1m">29.8</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">16.1</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6530d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="B0">B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="307">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Notebooks-AMD-A8-3550MX-APU-with-AMD-Radeon-HD-6620G-Graphics"
               target="_blank" _hover-ignore="1">A8-3550MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>2000~2700 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2866</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6620g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="537">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Desktops-AMD-A6-3600-APU-with-Radeon-HD-6530D"
               target="_blank">A6-3600</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2100~2400 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2798</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6530d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="310" class="tr_slct">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td _hover-ignore="1">AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Notebooks-AMD-A8-3510MX-APU-with-Radeon-HD-6620G"
                target="_blank" _hover-ignore="1">A8-3510MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1800~2500 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2430</td>
        <td class="superpi_1m">29.8</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi">6158</td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6620g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="306">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Notebooks-AMD-A6-3430MX-APU-with-AMD-Radeon-HD-6520G-Graphics"
               target="_blank" _hover-ignore="1">A6-3430MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1700~2400 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2277</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">22.4</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6520g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="309">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td _hover-ignore="1">AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Notebooks-AMD-A8-3530MX-APU-with-Radeon-HD-6620G"
                target="_blank" _hover-ignore="1">A8-3530MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1900~2600 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2276</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6620g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="305">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow" _hover-ignore="1">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Notebooks-AMD-A8-3520M-APU-with-AMD-Radeon-HD-6620G-Graphics"
               target="_blank" _hover-ignore="1">A8-3520M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1600~2500 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2265</td>
        <td class="superpi_1m">36.4</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">22.4</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single">1757</td>
        <td class="cinebench_r10_32_multi">5676</td>

        <td class="cinebench_r115_64">2.0</td>
        <td class="d3mark06cpu">2483</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6620g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="313">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Notebooks-AMD-A6-3410MX-APU-with-Radeon-HD-6520G"
                target="_blank" _hover-ignore="1">A6-3410MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1600~2300 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2101</td>
        <td class="superpi_1m">33.5</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">22.2</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single">1707</td>
        <td class="cinebench_r10_32_multi">5568</td>

        <td class="cinebench_r115_64">2.0</td>
        <td class="d3mark06cpu">2414</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6520g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="311">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Quad-Core-A8-Series-APU-for-Notebooks-AMD-A8-3500M-APU-with-Radeon-HD-6620G"
                target="_blank" _hover-ignore="1">A8-3500M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1500~2400 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">2051</td>
        <td class="superpi_1m">48.5</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">17.8</td>

        <td class="wprime_1024m">533</td>
        <td class="cinebench_r10_32_single">1586</td>
        <td class="cinebench_r10_32_multi">5170</td>

        <td class="cinebench_r115_64">1.9</td>
        <td class="d3mark06cpu">2256</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6620g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="530">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Triple-Core-A6-Series-APU-for-Desktops-AMD-A6-3500-APU-with-Radeon-HD-6530D"
               target="_blank">A6-3500</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2100~2400 MHz</td>
        <td>3</td>

        <td>No</td>
        <td>3072 KB</td>


        <td class="passmark">1995</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">24.6</td>

        <td class="wprime_1024m">770</td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6530d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="314" class="">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Notebooks-AMD-A6-3400M-APU-with-Radeon-HD-6520G"
               target="_blank" _hover-ignore="1">A6-3400M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1400~2300 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark">1964</td>
        <td class="superpi_1m">27.8</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">19.1</td>

        <td class="wprime_1024m">641</td>
        <td class="cinebench_r10_32_single">1512</td>
        <td class="cinebench_r10_32_multi">4922</td>

        <td class="cinebench_r115_64">1.8</td>
        <td class="d3mark06cpu">2135</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6520g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="534">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Desktops-AMD-A4-3400-APU-with-Radeon-HD-6410D"
                target="_blank">A4-3400</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2700 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>1024 KB</td>


        <td class="passmark">1593</td>
        <td class="superpi_1m">29.7</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">30.6</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6410d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="B0">B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="529">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Desktops-AMD-A4-3300-APU-with-Radeon-HD-6410D"
                target="_blank" _hover-ignore="1">A4-3300</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2500 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>1024 KB</td>


        <td class="passmark">1583</td>
        <td class="superpi_1m">25.1</td>

        <td class="superpi_32m">1298</td>

        <td class="wprime_32m">26.2</td>

        <td class="wprime_1024m">830</td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6410d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="B0">B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="536">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Dual-Core-E2-Series-APU-for-Desktops-AMD-E2-3200-APU-with-Radeon-HD-6370D"
                target="_blank">E2-3200</a></td>


        <td>台式机APU</td>
        <td>K10</td>

        <td>2400 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>1024 KB</td>


        <td class="passmark">1473</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6370d</td>
        <td>32 nm</td>

        <td>台式机</td>
        <td>2011</td>
        <td>65 W</td>
        <td title="FM1 uPGA">FM1 uPGA</td>
        <td title=""></td>
        <td title="B0">B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="7">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Notebooks-A4-3330MX-APU-with-Radeon-HD-6480G"
               target="_blank" _hover-ignore="1">A4-3330MX</a></td>


        <td _hover-ignore="1">笔记本</td>
        <td>K10</td>

        <td>2300~2600 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>1024 KB</td>


        <td class="passmark">1343</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6480g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title=""></td>
        <td title=""></td>


    </tr>

    <tr data-id="302">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Notebooks-AMD-A4-3330MX-APU-with-AMD-Radeon-HD-6480G-Graphics"
               target="_blank" _hover-ignore="1">A4-3330MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>2200~2600 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>2048 KB</td>


        <td class="passmark">1343</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6480g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="315">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Notebooks-AMD-A4-3310MX-APU-with-Radeon-HD-6480G"
                target="_blank" _hover-ignore="1">A4-3310MX</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>2100~2500 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>2048 KB</td>


        <td class="passmark">1263</td>
        <td class="superpi_1m">33</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">41.5</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64">1.2</td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6480g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>45 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="316">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td _hover-ignore="1"><a
                href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Notebooks-AMD-A4-3300M-APU-with-Radeon-HD-6480G"
                target="_blank">A4-3300M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1900~2500 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>2048 KB</td>


        <td class="passmark">1237</td>
        <td class="superpi_1m">35.7</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">43.3</td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single">1742</td>
        <td class="cinebench_r10_32_multi">3417</td>

        <td class="cinebench_r115_64">1.1</td>
        <td class="d3mark06cpu">1556</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6480g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="301">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Notebooks-AMD-A4-3305M-APU-with-AMD-Radeon-HD-6480G-Graphics"
               target="_blank" _hover-ignore="1">A4-3305M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1900~2500 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>1024 KB</td>


        <td class="passmark">1227</td>
        <td class="superpi_1m">36.2</td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m">39.7</td>

        <td class="wprime_1024m">1264</td>
        <td class="cinebench_r10_32_single">1812</td>
        <td class="cinebench_r10_32_multi">3395</td>

        <td class="cinebench_r115_64">1.1</td>
        <td class="d3mark06cpu">1614</td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6480g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="303">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Dual-Core-A4-Series-APU-for-Notebooks-AMD-A4-3320M-APU-with-AMD-Radeon-HD-6480G-Graphics"
               target="_blank" _hover-ignore="1">A4-3320M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>2000~2600 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>2048 KB</td>


        <td class="passmark">1193</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6480g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>

    <tr data-id="317" class="">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td><a href="/zh-cn/cpu/AMD-Dual-Core-E2-Series-APU-for-Notebooks-AMD-E2-3000M-APU-with-Radeon-HD-6380G"
               target="_blank" _hover-ignore="1">E2-3000M</a></td>


        <td>笔记本</td>
        <td>K10</td>

        <td>1800~2400 MHz</td>
        <td>2</td>

        <td>No</td>
        <td>1024 KB</td>


        <td class="passmark">1177</td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single">1597</td>
        <td class="cinebench_r10_32_multi">3014</td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6380g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="LN1-B0">LN1-B0</td>
        <td title=""></td>


    </tr>


    <tr data-id="304" class="tr_slct">

        <td class="js_cmpcpu_add"><a href="#" rel="nofollow">添加</a></td>


        <td>AMD</td>

        <td>
            <a href="/zh-cn/cpu/AMD-Quad-Core-A6-Series-APU-for-Notebooks-AMD-A8-3420M-APU-with-AMD-Radeon-HD-6520G-Graphics"
               target="_blank" _hover-ignore="1">A8-3420M</a></td>


        <td>笔记本</td>
        <td>Llano</td>

        <td>1500~2400 MHz</td>
        <td>4</td>

        <td>No</td>
        <td>4096 KB</td>


        <td class="passmark"></td>
        <td class="superpi_1m"></td>

        <td class="superpi_32m"></td>

        <td class="wprime_32m"></td>

        <td class="wprime_1024m"></td>
        <td class="cinebench_r10_32_single"></td>
        <td class="cinebench_r10_32_multi"></td>

        <td class="cinebench_r115_64"></td>
        <td class="d3mark06cpu"></td>
        <td class="fritz_chess"></td>
        <td class="win7_cpu"></td>
        <td class="win8_cpu"></td>


        <td>Radeon hd 6520g</td>
        <td>32 nm</td>

        <td>笔记本</td>
        <td>2011</td>
        <td>35 W</td>
        <td title="FS1 uPGA">FS1 uPGA</td>
        <td title=""></td>
        <td title="B0">B0</td>
        <td title=""></td>


    </tr>


    </tbody>
</table>
</body>
</html>