@charset "utf-8";

/*==========================================
 home
 ===========================================*/

/** 初始化 **/

/** 滚动条 **/

/** 图标字体 **/

/** 初始化全局标签 **/

/** 基础通用 **/

/* 消除第三方ui可能造成的冲突 */

/* 三角形 */

/* 单行溢出省略 */

/* 屏蔽选中 */

/* 纯圆角 */

/* 布局 */

/* 后台布局风格 */

/** 页面元素 **/

/* 引用 */

/* 字段集合 */

/* 进度条 */

/* 折叠面板 */

/* 背景颜色 */

/* 文字 */

/*========================*/
/** 按钮 **/

/* 圆角 */

/* 原始 */

/* 边框 */

/* 百搭 */

/* 暖色 */

/* 警告 */

/* 禁用 */

/* 大型 */

/* 小型 */

/* 迷你 */

/* 按钮组 */

/* 自定义 新按钮 */

/*=====================
前端开始
*=======================/

/* 主页 */

/*  服务导览 */

#homeService {

}

#homeService .item + .item {
    position: relative;
}

#homeService .item + .item:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    height: 100%;
    width: 0;
    border-left: 2px dashed #d4d4d4;
}

#homeService .service-title a {
    font-size: 28px;
    color: #ff6633;
}

#homeService .service-title a:hover {
    opacity: 0.628;
}

#homeService .service-extra a {
    font-family: 微软雅黑;
    font-size: 16px;
    color: #646464;
}

/* 二手好房 */

#homeSecondHandHouse {

}

#homeSecondHandHouse .item {
    padding: 0 5px;
}

#homeSecondHandHouse .item .itemIcon {
    width: 100%;
    overflow: hidden;
}

#homeSecondHandHouse .item .itemTitle {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

#homeSecondHandHouse .item .itemTitle p {
    font-size: 16px;
    color: #333333;
}

#homeSecondHandHouse .item .itemTitle .house-date {
}


