<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> [ Home ] </title>

</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

    <!-- This absTopForms start -->
    <section id="absTopTable">

    </section>
    <!-- This absTopForms end -->

    <!-- This fullTopForms start -->
    <section id="fullTopTable">

    </section>
    <!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

    <!-- This webBannerTable start -->
    <section id="webBannerTable" class="webBannerTable flex" style="min-height: 300px;">

        <!-- This bannerAbsTable start -->
        <section id="bannerAbsTable" class="absTopTable">



        </section>
        <!-- This bannerAbsTable end -->

        <div id="banner-body" class="flex" style="display: block;min-height: 300px;">

            <!-- This bannerTopTable start -->
            <section id="bannerTopTable" class="topTable" style="display: none;">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-top-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-top-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-top-right" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </section>
            <!-- This bannerTopTable end -->

            <!-- This bannerMiddleTable start -->
            <section id="bannerMiddleTable" class="middleTable">

                <!-- 顶级主体 左侧 区域开启 -->
                <section class="leftTable flex-middle-left" style="display: none;">

                </section>
                <!-- 顶级主体 左侧 区域结束 -->

                <!-- 顶级主体 中间 区域导航开启 -->
                <section class="centerTable flex-middle-center" style="position: relative;">

                    <div id="webBanner" style="width: 1349px; overflow: hidden; height: 645px;"></div>

                </section>
                <!-- 顶级主体 中间 区域导航结束 -->

                <!-- 顶级主体 右侧 区域导航开启 -->
                <section class="rightTable flex-middle-right" style="display: none;">

                </section>
                <!-- 顶级主体右侧区域导航结束 -->

            </section>
            <!-- This bannerMiddleTable end -->

            <!-- This bannerBottomTable start -->
            <section id="bannerBottomTable" class="bottomTable">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-bottom-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </section>
            <!-- This bannerBottomTable end -->

        </div>

    </section>
    <!-- This webBannerTable end -->

    <!-- This webBannerTable start -->
    <section id="webContentBody" class="webContentBody">

        <div class="alive-layout">

            <div class="alive-header" style="height: 50px;"></div>

            <div class="alive-body">
                <div id="homeService" class="alive-flex alive-level" style="width:100%;margin-top:16px;height:134px;position: relative;overflow: hidden;">
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a>买房</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要咨询</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a>租房</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要咨询</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a>卖房</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要咨询</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="width: 25%;">
                        <div class="alive-level half" style="height:100%;">
                            <div class="alive-center service-title"><a>客服</a></div>
                            <div class="alive-upLevel half">
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要咨询</a></div>
                                <div class="alive-middleLeft service-extra"><a class="alive-active">我要委托</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alive-footer" style="height: 50px;"></div>

        </div>

        <div class="alive-layout">

            <div class="alive-header" style="height: 100px;">
                <div class="alive-title" style="width: 100%;">
                    <div class="title">二手好房</div>
                    <div class="extra"><p>100%真实房源 无虚假</p></div>
                </div>
            </div>

            <div class="alive-body">
                <div class="alive-flex alive-upLevel" style="width:100%;min-height:400px;position: relative;overflow: hidden;">
                    <div class="alive-layout">

                        <div class="alive-header"></div>

                        <div class="alive-body">
                            <div id="homeSecondHandHouse" class="alive-flex outer">
                                <div class="item" style="width: 290px;height: 330px;">
                                    <div class="itemIcon">
                                        <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                            <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                 style="width: inherit; height: inherit;">
                                        </a>
                                    </div>
                                    <div class="alive-upLevel half itemTitle" style="height: 100px;">
                                        <div class="">
                                            <p><span>中紫海金东苑 &nbsp;东南向两居精装3房1厅，紧邻地铁8号线 &nbsp;</span></p>
                                        </div>
                                        <div class="alive-level half">
                                            <div class="alive-bottomLeft">约130万</div>
                                            <div class="alive-bottomRight house-date"><a hidefocus="true" href="/" target="_blank" title="汇景新城急租">预约看房</a></div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alive-footer"></div>

                    </div>
                </div>
            </div>

            <div class="alive-footer"></div>

        </div>

        <div class="alive-layout">

            <div class="alive-header"></div>

            <div class="alive-body">
                <div class="alive-flex alive-upLevel" style="width:100%;height:500px;position: relative;overflow: hidden;">
                    <div class="alive-outer alive-flex alive-center" style="height:100%;background-color: #F4F4F4;">
                        <div class="">
                            <p style="text-align:center;"><span
                                    style="font-family:微软雅黑;font-size:18px;color:#FFFFFF;">广告</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alive-footer"></div>

        </div>

        <div class="alive-layout">

            <div class="alive-header" style="height: 50px;">
                <div class="alive-outer">最新房源</div>
            </div>

            <div class="alive-body">
                <div class="alive-flex alive-upLevel"
                     style="width:100%;min-height:600px;position: relative;overflow: hidden;">
                    <div class="alive-outer">
                        <div class="alive-flex alive-outer alive-upLevel" style="position: relative;">

                            <div class="alive-layout">

                                <div class="alive-header"></div>

                                <div class="alive-body">
                                    <div class="alive-flex outer">
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="alive-footer"></div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="alive-footer"></div>

        </div>

        <div class="alive-layout">

            <div class="alive-header" style="height: 50px;">
                <div class="alive-outer">最新房源</div>
            </div>

            <div class="alive-body">
                <div class="alive-flex alive-upLevel"
                     style="width:100%;min-height:660px;position: relative;overflow: hidden;">
                    <div class="alive-outer">
                        <div class="alive-flex alive-outer alive-upLevel" style="position: relative;">

                            <div class="alive-layout">

                                <div class="alive-header"></div>

                                <div class="alive-body">
                                    <div class="alive-flex outer">
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima01.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima01.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima02.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima02.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima03.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima03.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima04.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima04.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima05.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima05.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                        <div class="item alive-item-outer min">
                                            <div class="itemIcon">
                                                <a hidefocus="true" href="/static/uploads/ima06.jpg" target="_blank">
                                                    <img alt="汇景新城急租" data-url="/static/uploads/ima06.jpg" title=""
                                                         style="width: inherit; height: inherit;">
                                                </a>
                                            </div>
                                            <div class="itemTitle">
                                                <a hidefocus="true"
                                                   href="/"
                                                   target="_blank"
                                                   title="汇景新城急租">汇景新城急租</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="alive-footer"></div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="alive-footer"></div>

        </div>


        <div class="alive-layout">

            <div class="alive-header"></div>

            <div class="alive-body">
                <div class="alive-flex alive-upLevel" style="width:100%;height:150px;position: relative;overflow: hidden;">
                    <div class="alive-outer alive-flex alive-center" style="height:100%;background-color: #F4F4F4;">

                    </div>
                </div>
            </div>

            <div class="alive-footer"></div>

        </div>


        <div class="alive-layout">

            <div class="alive-header" style="height: 50px;">
                <div class="alive-outer">常见问题</div>
            </div>

            <div class="alive-body">
                <div class="alive-flex alive-upLevel"
                     style="width:100%;min-height:500px;position: relative;overflow: hidden;">
                </div>
            </div>

            <div class="alive-footer"></div>

        </div>

    </section>
    <!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

    <!-- This fullBottomForms start -->
    <section id="fullBottomTable">

    </section>
    <!-- This fullBottomForms end -->

    <!-- This absBottomForms start -->
    <section id="absBottomTable">

    </section>
    <!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->

<script>

    $(function () {
        var data = [
            {
                "title": "图片1",
                "desc": "",
                "target": "",
                "src": "/static/uploads/theme/home/theme-banner1.jpg",
            },
            {
                "title": "图片2",
                "desc": "",
                "target": "",
                "src": "/static/uploads/theme/home/theme-banner3.jpg",
            },
            {
                "title": "图片1",
                "desc": "",
                "target": "",
                "src": "/static/uploads/theme/home/theme-banner1.jpg",
            },
            {
                "title": "图片2",
                "desc": "",
                "target": "",
                "src": "/static/uploads/theme/home/theme-banner3.jpg",
            }
        ];
        var options = {
            "banner": "#webBanner",
//        "width": 1200,
//        "height": 487,
            "playTime": 6000,
            "animateTime": 628,
            "interval": 6000,
            "btnType": 1,
            "targetType": "2",
            "wideScreen": true,
            "autoPlay":true
        };
        Site.initBanner(data,options);
    });

</script>

</body>
</html>