
<table id="webFooterTable" class="webFooterTable" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td align="center" valign="top" class="fk-moduleZoneWrap">
            <div id="fk-webFooterZone" class="J_moduleZone fk-webFooterZone fk-moduleZone forms sideForms">
                <div class="fk-moduleZoneBg"></div>
                <div id="module555" bannertitle="图片" _indexclass="formIndex1" _modulestyle="79" _moduleid="555" class="form form555 formIndex1 formStyle79 formInZone " title="" style="position: absolute; top: 45px; left: 62px; width: 127px; height: 126px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent555"><div class="floatImg floatImg_J"><a hidefocus="true" class="J_floatImg_jump ">
                        <div class="floatImgWrap"><img id="float_img_555" class="float_in_img J_defImage " src="/aliveHouse/web/shadow-buy-house.png" style="height: 126px;"></div></a>
                    </div></div>
                </div>

                <div id="module557" bannertitle="图片" _indexclass="formIndex2" _modulestyle="79" _moduleid="557" class="form form557 formIndex2 formStyle79 formInZone " title="" style="position: absolute; top: 44px; left: 368px; width: 127px; height: 126px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent557"><div class="floatImg floatImg_J"><a hidefocus="true" class="J_floatImg_jump ">
                        <div class="floatImgWrap"><img id="float_img_557" class="float_in_img J_defImage " src="/aliveHouse/web/shadow-sale-house.png" style="height: 126px;"></div></a>
                    </div></div>
                </div>

                <div id="module558" bannertitle="图片" _indexclass="formIndex3" _modulestyle="79" _moduleid="558" class="form form558 formIndex3 formStyle79 formInZone " title="" style="position: absolute; top: 44px; left: 677px; width: 127px; height: 126px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent558"><div class="floatImg floatImg_J"><a hidefocus="true" class="J_floatImg_jump ">
                        <div class="floatImgWrap"><img id="float_img_558" class="float_in_img J_defImage " src="/aliveHouse/web/shadow-rent-house.png" style="height: 126px;"></div></a>
                    </div></div>
                </div>

                <div id="module559" bannertitle="图片" _indexclass="formIndex4" _modulestyle="79" _moduleid="559" class="form form559 formIndex4 formStyle79 formInZone " title="" style="position: absolute; top: 45px; left: 977px; width: 126px; height: 126px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent559"><div class="floatImg floatImg_J"><a hidefocus="true" class="J_floatImg_jump ">
                        <div class="floatImgWrap"><img id="float_img_559" class="float_in_img J_defImage " src="/aliveHouse/web/shadow-manage-money.png" style="height: 126px;"></div></a>
                    </div></div>
                </div>

                <div id="module560" bannertitle="文本" _indexclass="formIndex5" _modulestyle="86" _moduleid="560" class="form form560 formIndex5 formStyle86 formInZone  siteEditor " title="" style="position: absolute; top: 194px; left: 37px; width: 162px; height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent560"><div class="fk-editor simpleText fk-editor-break-word "><span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">Buy-House</span></div></div>
                </div>

                <div id="module561" bannertitle="文本" _indexclass="formIndex6" _modulestyle="86" _moduleid="561" class="form form561 formIndex6 formStyle86 formInZone  siteEditor " title="" style="position: absolute; top: 194px; left: 326px; width: 202px; height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent561"><div class="fk-editor simpleText fk-editor-break-word "><span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">Sale-House</span></div></div>
                </div>

                <div id="module562" bannertitle="文本" _indexclass="formIndex7" _modulestyle="86" _moduleid="562" class="form form562 formIndex7 formStyle86 formInZone  siteEditor " title="" style="position: absolute; top: 195px; left: 646px; width: 202px; height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent562"><div class="fk-editor simpleText  "><span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">Rent-Wanted</span></div></div>
                </div>

                <div id="module563" bannertitle="文本" _indexclass="formIndex8" _modulestyle="86" _moduleid="563" class="form form563 formIndex8 formStyle86 formInZone  siteEditor " title="" style="position: absolute; top: 195px; left: 944px; width: 202px; height: 40px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false">
                    <div class="lightModuleOuterContent lightModuleOuterContent563"><div class="fk-editor simpleText  "><span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">Manage-Money</span></div></div>
                </div>


            </div>
            <div id="webFooter" class="webFooter">
                <div id="footer" class="footer">
                    <table class="footerTop" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr valign="top">
                            <td class="topLeft"></td>
                            <td class="topCenter"></td>
                            <td class="topRight"></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="footerMiddle" cellpadding="0" cellspacing="0">
                        <tbody>
                        <tr valign="top">
                            <td class="middleLeft"></td>
                            <td class="middleCenter" align="center" width="100%">
                                <div class="footerContent" style="display: flex;">
                                    <div style="margin: auto;">
                                        <div class="footerInfo">
                                            <p>Copyright<font face="Arial">©</font>2017-2017 活着的房 版权所有</p>
                                        </div>
                                        <div class="footerSupport" id="footerSupport">
												<span class="footerMobile">
													<a hidefocus="true" href="http://www.alivehouse.com/" target="_blank">手机版</a>
												</span>
                                            <span class="footerSep">|</span>
                                            <span id="footerbeian">
													<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=XXX" style="display:inline-block;text-decoration:none;height:20px;line-height:20px; margin-right:5px;">
														<img src="/aliveHouse/web/beianIcon.png" width="20" height="20" />
														<span style="height:20px;line-height:20px;margin: 0px 5px 0px 0px; color:#898989;"> 备案信息 </span>
													</a>
												</span>
                                            <span id="footerbeianinfo">
													<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">
														<span style="height:20px;line-height:20px;margin: 0px 5px 0px 0px; color:#898989;"> XXX </span>
													</a>
												</span>

                                            <span class="footerSep">|</span>
                                            <span id="footerLogin" class="footerLogin">
													<a name="popupLogin" hidefocus="true" href="/" onclick="Fai.closeTip(&quot;#footerLogin&quot;);">登录</a>
												</span>
                                            <span class="bgplayerButton" id="bgplayerButton" style="display:none;"></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="middleRight"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="footerBottom" cellpadding="0" cellspacing="0">
                        <tbody><tr valign="top">
                            <td class="bottomLeft"></td>
                            <td class="bottomCenter"></td>
                            <td class="bottomRight"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </td>
    </tr>
    </tbody></table>