
<!-- This webTopTable start -->
<section>

    <table class="webTopTable" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
                <div id="webTop" class="webTop">
                    <div id="corpTitle" class="corpTitle" style="top:42px;left:15px;">
                        <div class="newPrimaryTitle">
                            <b>
                                <font style="color: rgba(255, 101, 55, 1);">Alive</font>&nbsp;
                                <font color="#cccccc" style="color: rgba(204, 204, 204, 1);">House</font>
                            </b>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="clearfloat"></div>

</section>
<!-- This webTopTable end -->

<!-- This absTopTable start -->
<section>

    <table class="absTopTable" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
                <div id="absTopForms" class="forms sideForms absForms">
                    <div style="position:absolute;"></div><!-- for ie6 -->

                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="clearfloat"></div>

</section>
<!-- This absTopTable end -->

<!-- This webNavTable start -->
<section>

    <table class="webNavTable" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
            <td align="center">
                <div id="webNav" class="webNav webNavDefault">
                    <div id="nav" class="nav nav2 fixedNavPos ">
                        <div class="navMainContent">
                            <table class="navTop" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td class="navTopLeft"></td>
                                    <td class="navTopCenter"></td>
                                    <td class="navTopRight"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="navContent" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td class="navLeft"></td>
                                    <td class="navCenterContent" id="navCenterContent" valign="top" align="left">
                                        <div id="navCenter" class="navCenter" style="width: 700px;padding-right: 15px;">
                                            <div class="itemPrev" style="display: none;"></div>
                                            <div class="itemContainer">
                                                <table title="" class="item" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="itemLeft"></td>
                                                        <td class="itemCenter">
                                                            <a hidefocus="true" style="outline:none;" href="/home/index/index.html" target="_self" onclick=""><span class="itemName0">Home</span></a>
                                                        </td>
                                                        <td class="itemRight"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="itemSep"></div>
                                                <table title="" class="item" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="itemLeft"></td>
                                                        <td class="itemCenter">
                                                            <a hidefocus="true" style="outline:none;" href="/home/better/better.html" target="_self" onclick=""><span class="itemName0">Better</span></a>
                                                        </td>
                                                        <td class="itemRight"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="itemSep"></div>
                                                <table title="" class="item" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="itemLeft"></td>
                                                        <td class="itemCenter">
                                                            <a hidefocus="true" style="outline:none;" href="/home/house/secondhandhouse.html" target="_self" onclick=""><span class="itemName0">Second-House</span></a>
                                                        </td>
                                                        <td class="itemRight"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="itemSep"></div>
                                                <table title="" class="item" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="itemLeft"></td>
                                                        <td class="itemCenter">
                                                            <a hidefocus="true" style="outline:none;" href="/home/house/newhouse.html" target="_self" onclick=""><span class="itemName0">New-House</span></a>
                                                        </td>
                                                        <td class="itemRight"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="itemSep"></div>
                                                <table title="" class="item itemSelected" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="itemLeft"></td>
                                                        <td class="itemCenter">
                                                            <a hidefocus="true" style="outline:none;" href="/home/build/build.html" target="_self" onclick=""><span class="itemName0">Build</span></a>
                                                        </td>
                                                        <td class="itemRight"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                <div class="itemSep"></div>
                                                <table title="" class="item" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="itemLeft"></td>
                                                        <td class="itemCenter">
                                                            <a hidefocus="true" style="outline:none;" href="/home/contact/contact.html" target="_self" onclick=""><span class="itemName0">Contact</span></a>
                                                        </td>
                                                        <td class="itemRight"></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="itemNext" style="display: none;"></div>
                                        </div>
                                    </td>
                                    <td class="navRight"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="navBottom" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td class="navBottomLeft"></td>
                                    <td class="navBottomCenter"></td>
                                    <td class="navBottomRight"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="clearfloat"></div>

</section>
<!-- This webNavTable end -->

<!-- This webHeaderTable start -->
<section>

    <table class="webHeaderTable" cellpadding="0" cellspacing="0" id="webHeaderTable">
        <tbody>
        <tr>
            <td align="center" class="webHeaderTd fk-moduleZoneWrap">
                <div id="fk-webHeaderZone" class="J_moduleZone fk-webHeaderZone fk-moduleZone forms sideForms">
                    <div class="fk-moduleZoneBg"></div>
                </div>
                <div id="webHeader" class="webHeader">
                    <table class="headerTable" cellpadding="0" cellspacing="0">
                        <tbody><tr>
                            <td class="headerCusLeft"></td>
                            <td class="headerCusMiddle" align="center" valign="top">
                                <div class="headerNav">
                                </div>
                            </td>
                            <td class="headerCusRight"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="clearfloat"></div>

</section>
<!-- This webHeaderTable end -->





