
<!-- This webFooterTable start -->
<section>

    <table id="webFooterTable" class="webFooterTable" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td align="center" valign="top" class="fk-moduleZoneWrap">

                <div id="webFooter" class="webFooter">
                    <div id="footer" class="footer">
                        <table class="footerTop" cellpadding="0" cellspacing="0" style="display: block;">
                            <tbody>
                            <tr valign="top">
                                <td class="topLeft"></td>
                                <td class="topCenter">
                                    <div id="fk-webFooterZone" class="fk-webFooterZone fk-moduleZone forms sideForms">
                                        <div class="fk-moduleZoneBg"></div>

                                        <table class="footerZoneTop" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr valign="top">
                                                <td class="topLeft"></td>
                                                <td class="topCenter"></td>
                                                <td class="topRight"></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <table class="footerZoneMiddle" cellpadding="0" cellspacing="0">
                                            <tbody>
                                            <tr valign="top">
                                                <td class="middleLeft"></td>
                                                <td class="middleCenter" align="center" width="100%">
                                                    <div class="footerZoneMainContent">

                                                        <table class="footerZoneTop" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="footerZoneTopLeft"></td>
                                                                <td class="footerZoneTopCenter"></td>
                                                                <td class="footerZoneTopRight"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                        <table class="footerZoneContent" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="footerZoneLeft"></td>
                                                                <td class="footerZoneCenterContent" id="footerZoneCenterContent">
                                                                    <div id="footerZoneCenter" class="footerZoneCenter">
                                                                        <div class="itemPrev" style="display: none;"></div>
                                                                        <div class="itemContainer">
                                                                            <div class="itemSep"></div>
                                                                            <table title="" class="item" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td class="itemLeft"></td>
                                                                                    <td class="itemCenter">

                                                                                        <div class="form" title="" style="position: absolute; top: 44px; left: 62px; width: 127px; height: 170px;">
                                                                                            <div class="lightModuleOuterContent">
                                                                                                <div class="floatImg">
                                                                                                    <a hidefocus="true" class="">
                                                                                                        <div class="floatImgWrap">
                                                                                                            <img class="float_in_img " src="/static/images/shadow-buy-house.png" style="height: 126px;">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="floatText" style="padding-top: 23px;">
                                                                                                    <div class="fk-editor simpleText fk-editor-break-word ">
                                                                                                        <span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">Buy-House</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </td>
                                                                                    <td class="itemRight"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <div class="itemSep"></div>
                                                                            <table title="" class="item" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td class="itemLeft"></td>
                                                                                    <td class="itemCenter">

                                                                                        <div class="form" title="" style="position: absolute; top: 44px; left: 368px; width: 127px; height: 170px;">
                                                                                            <div class="lightModuleOuterContent">
                                                                                                <div class="floatImg">
                                                                                                    <a hidefocus="true" class="">
                                                                                                        <div class="floatImgWrap">
                                                                                                            <img class="float_in_img " src="/static/images/shadow-sale-house.png" style="height: 126px;">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="floatText" style="padding-top: 23px;">
                                                                                                    <div class="fk-editor simpleText fk-editor-break-word ">
                                                                                                        <span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">House</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </td>
                                                                                    <td class="itemRight"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <div class="itemSep"></div>
                                                                            <table title="" class="item" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td class="itemLeft"></td>
                                                                                    <td class="itemCenter">

                                                                                        <div class="form" title="" style="position: absolute; top: 44px; left: 677px; width: 127px; height: 170px;">
                                                                                            <div class="lightModuleOuterContent">
                                                                                                <div class="floatImg">
                                                                                                    <a hidefocus="true" class="">
                                                                                                        <div class="floatImgWrap">
                                                                                                            <img class="float_in_img " src="/static/images/shadow-rent-house.png" style="height: 126px;">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="floatText" style="padding-top: 23px;">
                                                                                                    <div class="fk-editor simpleText fk-editor-break-word ">
                                                                                                        <span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">House</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </td>
                                                                                    <td class="itemRight"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                            <div class="itemSep"></div>
                                                                            <table title="" class="item" cellpadding="0" cellspacing="0">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td class="itemLeft"></td>
                                                                                    <td class="itemCenter">

                                                                                        <div class="form" title="" style="position: absolute; top: 44px; left: 977px; width: 127px; height: 170px;">
                                                                                            <div class="lightModuleOuterContent">
                                                                                                <div class="floatImg">
                                                                                                    <a hidefocus="true" class="">
                                                                                                        <div class="floatImgWrap">
                                                                                                            <img class="float_in_img " src="/static/images/shadow-manage-money.png" style="height: 126px;">
                                                                                                        </div>
                                                                                                    </a>
                                                                                                </div>
                                                                                                <div class="floatText" style="padding-top: 23px;">
                                                                                                    <div class="fk-editor simpleText fk-editor-break-word ">
                                                                                                        <span style="color: rgb(255, 255, 255); font-size: 16px; text-align: center; display: block;">Money</span>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                    </td>
                                                                                    <td class="itemRight"></td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </div>
                                                                        <div class="itemNext" style="display: none;"></div>
                                                                    </div>
                                                                </td>
                                                                <td class="footerZoneRight"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                        <table class="footerZoneBottom" cellpadding="0" cellspacing="0">
                                                            <tbody>
                                                            <tr>
                                                                <td class="footerZoneBottomLeft"></td>
                                                                <td class="footerZoneBottomCenter"></td>
                                                                <td class="footerZoneBottomRight"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td class="middleRight"></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <table class="footerZoneBottom" cellpadding="0" cellspacing="0">
                                            <tbody><tr valign="top">
                                                <td class="bottomLeft"></td>
                                                <td class="bottomCenter"></td>
                                                <td class="bottomRight"></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                                <td class="topRight"></td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="footerMiddle" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr valign="top">
                                <td class="middleLeft"></td>
                                <td class="middleCenter" align="center" width="100%">
                                    <div class="footerContent" style="display: flex;">
                                        <div style="margin: auto;">
                                            <div class="footerInfo">
                                                <p>Copyright<font face="Arial">©</font>2017-2017 活着的房 版权所有</p>
                                            </div>
                                            <div class="footerSupport" id="footerSupport">
												<span class="footerMobile">
													<a hidefocus="true" href="http://www.alivehouse.com/" target="_blank">手机版</a>
												</span>
                                                <span class="footerSep">|</span>
                                                <span id="footerbeian">
													<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=XXX" style="display:inline-block;text-decoration:none;height:20px;line-height:20px; margin-right:5px;">
														<img src="/static/images/beianIcon.png" width="20" height="20" />
														<span style="height:20px;line-height:20px;margin: 0px 5px 0px 0px; color:#898989;"> 备案信息 </span>
													</a>
												</span>
                                                <span id="footerbeianinfo">
													<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">
														<span style="height:20px;line-height:20px;margin: 0px 5px 0px 0px; color:#898989;"> XXX </span>
													</a>
												</span>

                                                <span class="footerSep">|</span>
                                                <span id="footerLogin" class="footerLogin">
													<a name="popupLogin" hidefocus="true" href="/" onclick="return false;">登录</a>
												</span>
                                                <span class="bgplayerButton" id="bgplayerButton" style="display:none;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="middleRight"></td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="footerBottom" cellpadding="0" cellspacing="0">
                            <tbody><tr valign="top">
                                <td class="bottomLeft"></td>
                                <td class="bottomCenter"></td>
                                <td class="bottomRight"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </td>
        </tr>
        </tbody></table>

    <div class="clearfloat"></div>

</section>
<!-- This webFooterTable end -->
