<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> [ Home ] </title>

</head>

<body>

<!-- This webContainerTop start 上 开始 -->
<section id="webContainerTop" style="display: none;">

    <!-- This absTopForms start -->
    <section id="absTopTable">

    </section>
    <!-- This absTopForms end -->

    <!-- This fullTopForms start -->
    <section id="fullTopTable">

    </section>
    <!-- This fullTopForms end -->

</section>
<!-- This webContainerTop end 上 结束 -->

<!-- This webContainerMiddle start 中 开始 -->
<section id="webContainerMiddle" class="webContainerMiddle">

    <!-- This webBannerTable start -->
    <section id="webBannerTable" class="webBannerTable flex" style="min-height: 300px;">

        <!-- This bannerAbsTable start -->
        <section id="bannerAbsTable" class="absTopTable" style="display:block;min-height: 300px;background-size: cover;background: #F4F4F4 url('/static/uploads/new-house-max-bg.jpg') no-repeat center;">
        </section>
        <!-- This bannerAbsTable end -->

        <div id="banner-body" class="flex" style="display: block;min-height: 300px;">

            <!-- This bannerTopTable start -->
            <section id="bannerTopTable" class="topTable" style="display: none;">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-top-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-top-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-top-right" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </section>
            <!-- This bannerTopTable end -->

            <!-- This bannerMiddleTable start -->
            <section id="bannerMiddleTable" class="middleTable">

                <!-- 顶级主体 左侧 区域开启 -->
                <section class="leftTable flex-middle-left" style="display: none;">

                </section>
                <!-- 顶级主体 左侧 区域结束 -->

                <!-- 顶级主体 中间 区域导航开启 -->
                <section class="centerTable flex-middle-center">

                    <div id="webBanner" class="webBanner bannerTable" style="width: 1200px;">
                        <div class="bannerBody">
                            <span class="item">
                                <a hidefocus="true" target="_blank" href=""><img src="/static/images/theme/theme-banner1.jpg" alt="" /></a>
                                <a hidefocus="true" target="_blank" href=""><h>文字1</h></a>
                            </span>
                            <span class="item">
                                <a hidefocus="true" target="_blank" href=""><img src="/static/images/theme/theme-banner2.jpg" alt="" /></a>
                                <a hidefocus="true" target="_blank" href=""><h>文字2</h></a>
                            </span>
                        </div>
                        <div class="bannerPrev switchBtn"></div>
                        <div class="bannerNext switchBtn"></div>
                        <div class="bannerBottom"><span>1</span><span>2</span></div>
                    </div>

                </section>
                <!-- 顶级主体 中间 区域导航结束 -->

                <!-- 顶级主体 右侧 区域导航开启 -->
                <section class="rightTable flex-middle-right" style="display: none;">

                </section>
                <!-- 顶级主体右侧区域导航结束 -->

            </section>
            <!-- This bannerMiddleTable end -->

            <!-- This bannerBottomTable start -->
            <section id="bannerBottomTable" class="bottomTable">

                <!-- 左侧 区域开启 -->
                <section class="leftTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 左侧 区域结束 -->

                <!-- 中间 区域开启 -->
                <section class="centerTable flex-bottom-center" style="display: none;">

                </section>
                <!-- 中间 区域结束 -->

                <!-- 右侧 区域开启 -->
                <section class="rightTable flex-bottom-left" style="display: none;">

                </section>
                <!-- 右侧 区域结束 -->

            </section>
            <!-- This bannerBottomTable end -->

        </div>

    </section>
    <!-- This webBannerTable end -->

    <!-- This webBannerTable start -->
    <section id="webContentBody" class="webContentBody" style="display: none;">

        <div class="newsList J_newsList  newsNewModuleStyle_three "
             id="newsList385"
             _showsetting="0"
             newslisttype="5" scroll="0">
            <div topclassname="top1"
                 topswitch="on" newsid="12"
                 newsname="房产中介套路深 虚假宣传渗透交易每个环节"
                 class="J_newsListLine line noHover g_item   fk-newsLineHeight   ">
                <div class="J_newsCalendar newsCalendar newsListCalendar2"
                     style="vertical-align:top;">
                    <a class="fk-newsListDate"
                       hidefocus="true"
                       href="http://www.aliveHouse.com/nd.php?id=12&amp;_np=108_385"
                       target="_blank">2017/05/15</a>
                </div>
                <div id="lineBody12"
                     class="J_lineBody lineBody newsListLineBody2">
                    <div class="newsCircleOuter">
                        <div class="newsCircle"></div>
                    </div>
                    <div class="newsTitlePanel">
                        <div class="J_newsTitle newsTitle"
                             style="width: 100%;">
                            <div class="J_newsListTopFlag "></div>
                            <a class="fk-newsListTitle"
                               hidefocus="true"
                               href="http://www.aliveHouse.com/nd.php?id=12&amp;_np=108_385"
                               target="_blank"
                               title="房产中介套路深 虚假宣传渗透交易每个环节">房产中介套路深
                                虚假宣传渗透交易每个环节</a>
                        </div>
                        <div>
                            <p class="pic-mixNewsStyleSummary fk-newsListSummary">
                                一套叫价1.4亿元的所谓“清朝格格府邸”近日成为链家等房产中介网站上的“网红”，甚至引来北京市文物局辟谣：并非登记...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_separatorLine separatorLine g_separator "></div>
            <div topclassname="top1"
                 topswitch="on" newsid="13"
                 newsname="房企当下拿地 到底是&quot;馅饼&quot;还是&quot;陷阱&quot;？"
                 class="J_newsListLine line noHover g_item   fk-newsLineHeight   ">
                <div class="J_newsCalendar newsCalendar newsListCalendar2"
                     style="vertical-align:top;">
                    <a class="fk-newsListDate"
                       hidefocus="true"
                       href="http://www.aliveHouse.com/nd.php?id=13&amp;_np=108_385"
                       target="_blank">2017/05/15</a>
                </div>
                <div id="lineBody13"
                     class="J_lineBody lineBody newsListLineBody2">
                    <div class="newsCircleOuter">
                        <div class="newsCircle"></div>
                    </div>
                    <div class="newsTitlePanel">
                        <div class="J_newsTitle newsTitle"
                             style="width: 100%;">
                            <div class="J_newsListTopFlag "></div>
                            <a class="fk-newsListTitle"
                               hidefocus="true"
                               href="http://www.aliveHouse.com/nd.php?id=13&amp;_np=108_385"
                               target="_blank"
                               title="房企当下拿地 到底是&quot;馅饼&quot;还是&quot;陷阱&quot;？">房企当下拿地
                                到底是"馅饼"还是"陷阱"？</a>
                        </div>
                        <div>
                            <p class="pic-mixNewsStyleSummary fk-newsListSummary">
                                统计显示，仅7月前10天，全国单幅地块成交金额超过5亿的地块达29宗，其中溢价率超50%的地王达18宗。一二线城市...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_separatorLine separatorLine g_separator "></div>
            <div topclassname="top1"
                 topswitch="on" newsid="10"
                 newsname="北漂租房调查:月租跳涨千元 律师不愿接维权案"
                 class="J_newsListLine line noHover g_item   fk-newsLineHeight   ">
                <div class="J_newsCalendar newsCalendar newsListCalendar2"
                     style="vertical-align:top;">
                    <a class="fk-newsListDate"
                       hidefocus="true"
                       href=""
                       target="_blank">2017/05/15</a>
                </div>
                <div id="lineBody10"
                     class="J_lineBody lineBody newsListLineBody2">
                    <div class="newsCircleOuter">
                        <div class="newsCircle"></div>
                    </div>
                    <div class="newsTitlePanel">
                        <div class="J_newsTitle newsTitle"
                             style="width: 100%;">
                            <div class="J_newsListTopFlag "></div>
                            <a class="fk-newsListTitle"
                               hidefocus="true"
                               href="http://www.aliveHouse.com/nd.php?id=10&amp;_np=108_385"
                               target="_blank"
                               title="北漂租房调查:月租跳涨千元 律师不愿接维权案">北漂租房调查:月租跳涨千元
                                律师不愿接维权案</a>
                        </div>
                        <div>
                            <p class="pic-mixNewsStyleSummary fk-newsListSummary">
                                “不租房不搬家，不足以谈北漂。”把最后一包行李拖进新租的房子，小段终于松了一口气。这是她来到北京三年第三次搬家，从...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_separatorLine separatorLine g_separator "></div>
            <div topclassname="top1"
                 topswitch="on" newsid="14"
                 newsname="二手房过户有什么需要准备的？"
                 class="J_newsListLine line noHover g_item   fk-newsLineHeight   ">
                <div class="J_newsCalendar newsCalendar newsListCalendar2"
                     style="vertical-align:top;">
                    <a class="fk-newsListDate"
                       hidefocus="true"
                       href="http://www.aliveHouse.com/nd.php?id=14&amp;_np=108_385"
                       target="_blank">2017/05/15</a>
                </div>
                <div id="lineBody14"
                     class="J_lineBody lineBody newsListLineBody2">
                    <div class="newsCircleOuter">
                        <div class="newsCircle"></div>
                    </div>
                    <div class="newsTitlePanel">
                        <div class="J_newsTitle newsTitle"
                             style="width: 100%;">
                            <div class="J_newsListTopFlag "></div>
                            <a class="fk-newsListTitle"
                               hidefocus="true"
                               href="http://www.aliveHouse.com/nd.php?id=14&amp;_np=108_385"
                               target="_blank"
                               title="二手房过户有什么需要准备的？">二手房过户有什么需要准备的？</a>
                        </div>
                        <div>
                            <p class="pic-mixNewsStyleSummary fk-newsListSummary">
                                购买二手房办理过户是重中之重，往往很多纠纷都会出现在过户的环节，所以我们再购买二手房之前先了解一下购房过户手续的一...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_separatorLine separatorLine g_separator "></div>
            <div topclassname="top1"
                 topswitch="on" newsid="11"
                 newsname="楼市上涨效应向二线传导:厦门信贷收紧 南京土地&quot;高烧&quot;"
                 class="J_newsListLine line noHover g_item   fk-newsLineHeight   ">
                <div class="J_newsCalendar newsCalendar newsListCalendar2"
                     style="vertical-align:top;">
                    <a class="fk-newsListDate"
                       hidefocus="true"
                       href="http://www.aliveHouse.com/nd.php?id=11&amp;_np=108_385"
                       target="_blank">2017/05/15</a>
                </div>
                <div id="lineBody11"
                     class="J_lineBody lineBody newsListLineBody2">
                    <div class="newsCircleOuter">
                        <div class="newsCircle"></div>
                    </div>
                    <div class="newsTitlePanel">
                        <div class="J_newsTitle newsTitle"
                             style="width: 100%;">
                            <div class="J_newsListTopFlag "></div>
                            <a class="fk-newsListTitle"
                               hidefocus="true"
                               href="http://www.aliveHouse.com/nd.php?id=11&amp;_np=108_385"
                               target="_blank"
                               title="楼市上涨效应向二线传导:厦门信贷收紧 南京土地&quot;高烧&quot;">楼市上涨效应向二线传导:厦门信贷收紧
                                南京土地"高烧"</a>
                        </div>
                        <div>
                            <p class="pic-mixNewsStyleSummary fk-newsListSummary">
                                近日,住建部部长座谈会召开,对于“经济走势仍然分化,新旧发展动力的转换需要一个过程,新动力的成长势头正在加快”,有...</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="J_separatorLine separatorLine g_separator  newsListSeparatorLine "></div>
            <div class="clearfloat"></div>
            <div class="J_timeLine newsListTimeLine"
                 style="height: 620px; left: 105.797px;"></div>
        </div>

    </section>
    <!-- This webBannerTable end -->

</section>
<!-- This webContainerMiddle end 中 结束 -->

<!-- This webContainerBottom start 下 开始 -->
<section id="webContainerBottom" style="display: none;">

    <!-- This fullBottomForms start -->
    <section id="fullBottomTable">

    </section>
    <!-- This fullBottomForms end -->

    <!-- This absBottomForms start -->
    <section id="absBottomTable">

    </section>
    <!-- This absBottomForms end -->

</section>
<!-- This webContainerBottom end 下 结束 -->

<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/site.js"></script>
<script>

    var data = [
        {
            "title": "图片1",
            "desc": "文字1",
            "target": "",
            "src": "/static/images/theme/theme-banner1.jpg",
        },
        {
            "title": "图片2",
            "desc": "文字2",
            "target": "",
            "src": "/static/images/theme/theme-banner2.jpg",
        },
    ];
    var options = {
        "banner": "#webBanner",
//        "width": 1200,
//        "height": 487,
        "playTime": 4000,
        "animateTime": 1500,
        "btnType": 1,
        "targetType":"2",
        "wideScreen": false
    };

    Site.initBanner(data,options);

</script>

</body>
</html>