
<section class="webBottomBox bs-webBottomBox" id="webBottomBox" style="height:50px;bottom: 0;background-color: #F4F4F4">

    <div id="webBottom" class="webBottom">

        <div class="item layout-bottom-left" lay-filter="left">
            <a class="" href="/">
                <i class="layui-icon">&#xe68e;</i>
            </a>
        </div>

        <div class="item layout-bottom-middle" lay-filter="middle">
            <a class="" href="/">
                <i class="layui-icon">&#xe63f;</i>
            </a>
        </div>

        <div class="item layout-bottom-right" lay-filter="right">
            <a class="" href="/">
                <i class="layui-icon">&#xe698;</i>
            </a>
        </div>

    </div>

    <div class="clearfloat"></div>

</section>
