<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

    <style>
        .layui-form-item .layui-input-block.right-width{
            padding-right: 120px;
        }
    </style>

</head>

<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">

    <form class="layui-form forms" id="defaultForm" action="" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>身份证:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="cardId" lay-verify="require" placeholder="身份证" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>用户名:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="userName" lay-verify="require" placeholder="用户名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>客户联系方式:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="tel" lay-verify="require" placeholder="客户联系方式" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">头像：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="avatar_file" name="file" placeholder="头像" class="layui-upload-file">
                <input type="hidden" value="" name="avatar" id="avatar" placeholder="头像" class="layui-input">
                <div lay-filter="show-url" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>性别:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="sex" lay-verify="require" placeholder="性别" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>真实姓名:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="real_name" lay-verify="require" placeholder="真实姓名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>手机号码:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="phone" lay-verify="require" placeholder="手机号码" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>地址:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="address" lay-verify="require" placeholder="地址" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>邮箱:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="email" lay-verify="require" placeholder="邮箱" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>所属区域：</label>
                <div class="layui-input-inline">
                    <select name="province_id" lay-search lay-filter="province">
                        <option value="">选择省份</option>
                        {volist name="model->clientFromList" id="item"}
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city_id" lay-search="" lay-filter="city" >
                        <option value="">选择区/县</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="county_id" lay-search="" lay-filter="county" >
                        <option value="">选择区/县</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>所属区域：</label>
                <div class="layui-input-inline">
                    <select name="clientFrom" lay-search lay-filter="clientFrom">
                        <option value="">客户来源</option>
                        {volist name="model->clientFromList" id="item"}
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="city_id" lay-search="" lay-filter="city" >
                        <option value="">选择区/县</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="county_id" lay-search="" lay-filter="county" >
                        <option value="">选择区/县</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>置业人员名称:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="agentName" lay-verify="require" placeholder="置业人员名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>置业人员名称:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="agentName" lay-verify="require" placeholder="置业人员联系方式" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>其他名称:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="otherName" lay-verify="require" placeholder="其他名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>其他手机号码:</label>
            <div class="layui-input-block right-width">
                <input type="text" value="" name="otherPhone" lay-verify="require" placeholder="其他手机号码" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>其他信息：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <input type="text" value="" name="QQ" placeholder="QQ" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <input type="text" value="" name="birth" placeholder="生日" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width: 130px;">
                    <input type="text" value="" name="job" placeholder="工作" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>客户需求：</label>
                <div class="layui-input-inline" style="width: 130px;">
                    <select name="feature" lay-verify="require" lay-search >
                        <option value="">客户需求</option>
                        {volist name="model->askTypeList" id="item" }
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>备注:</label>
            <div class="layui-input-block right-width">
                <textarea name="notes" lay-verify="require" placeholder="备注" class="layui-input"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>需求类别:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="requireType" lay-verify="require" placeholder="需求类别" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>是否来过海南:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="inHainan" lay-verify="require" placeholder="是否来过海南" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>接洽方式:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="askType" lay-verify="require" placeholder="接洽方式" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>客户分类:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="category" lay-verify="require" placeholder="客户分类" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>服务状态:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="serviceStatus" lay-verify="require" placeholder="服务状态" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>权属人:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="belongUserId" lay-verify="require" placeholder="权属人" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>权属人名:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="belongUser" lay-verify="require" placeholder="权属人名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>第一次添加人:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="firstUserId" lay-verify="require" placeholder="第一次添加人" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>第一次添加人名:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="firstUser" lay-verify="require" placeholder="第一次添加人名" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>看房安排:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="arrangeId" lay-verify="require" placeholder="看房安排" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>看房安排者:</label>
            <div class="layui-input-block right-width">
                <input type="text" name="arrangeUser" lay-verify="require" placeholder="看房安排者" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房源类型：</label>
                <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;" lay-error="请至少选择一个房源类型">
                    {volist name="model->askTypeList" id="item" }
                    <input type="radio" name="houseType[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="houseType" />
                    {/volist}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房屋单价：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="eachPrice" lay-verify="require" placeholder="房屋单价" class="layui-input">
                </div>
                <label class="layui-text layui-label">元/平方米</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>房屋总价：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="price" lay-verify="require" placeholder="房屋总价" class="layui-input">
                </div>
                <label class="layui-text layui-label">万元</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">建筑年代：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="years" placeholder="建筑年代" class="layui-input">
                </div>
                <label class="layui-text layui-label">年</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">建筑面积：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="area" placeholder="建筑面积" class="layui-input">
                </div>
                <label class="layui-text layui-label">平方米</label>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源描述：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea  name="description" placeholder="请输入房源描述" lay-verify="require" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源封面：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="house_url_file" name="file" placeholder="房源封面" class="layui-upload-file">
                <input type="hidden" value="" name="url" id="url" lay-verify="require" lay-error="房源封面不能为空" placeholder="房源封面" class="layui-input">
                <div lay-filter="show-url" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>房源图片：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="house_detail_file" name="file[]" multiple placeholder="房源图片" class="layui-upload-file">
                <input type="hidden" value="" name="detail" id="detail" class="layui-input">
                <div lay-filter="show-detail" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">推荐理由：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea placeholder="请输入推荐理由" name="reason" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">交通状况：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea placeholder="请输入交通状况" name="traffic" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">周边配套：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea placeholder="请输入周边配套" name="around" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">房源标签：</label>
            <div class="layui-input-block" lay-error="请至少选择一个房源标签" style="padding-right: 120px;" >
                {volist name="model->askTypeList" id="item" }
                <input type="checkbox" name="houseLabel[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="houseLabel" lay-skin="primary" />
                {/volist}
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>销售状态：</label>
                <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;" lay-error="请至少选择一个销售状态">
                    {volist name="model->askTypeList" id="item" }
                    <input type="radio" name="saleStatus[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="saleStatus" />
                    {/volist}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系人：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="Contact" lay-verify="require" placeholder="联系人" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">联系方式：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="contacterTel" lay-verify="require" placeholder="手机/固话" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">Email：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="email" lay-verify="require" placeholder="邮箱" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">QQ：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="qq" lay-verify="require" placeholder="QQ" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">微信：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="weChat" lay-verify="require" placeholder="微信" class="layui-input">
                </div>
                <label class="layui-text layui-label"></label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>状态：</label>
                <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;" lay-error="请至少选择一个状态状态">
                    {volist name="model->askTypeList" id="item" }
                    <input type="radio" name="status[]" value="{$key}" title="{$item}" lay-verify="checked" lay-group="status" />
                    {/volist}
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <input type="hidden" value="{$model.type}" name="type">
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'],function () {
        var form = layui.form();

    });

    $(function () {
        var options = {
            form:'#defaultForm',
            success:console.log
        };
        Back.submit(options);
    });

    Site.search({
        url: '/manage/ajax/getBuildingBase',
        targetClass: '[lay-filter="keyword"]',      // 输入框目标元素
        parentClass: '.layui-input-block',          // 父级类
        hiddenClass: '[lay-filter="key"]',          // 隐藏域input
        key:'name'
    });

    var indexUrl = Site.uploader({
        elem:'#house_url_file',
        targetElem:'#url',
        url: '/manage/ajax/uploader?file=file',
        title:'上传房源封面',
        isAjax:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });

    var indexDetail = Site.uploader({
        elem:'#house_detail_file',
        targetElem:'#detail',
        url: '/manage/ajax/uploader?file=file',
        title:'上传房源图片',
        isAjax:true,
        isMulti:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#detail').val());
        }
    });

</script>

</body>

</html>