<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>
    <style>
        table td.action{
            padding: 6px 10px;
        }
        table td.action a button i{
            padding-right: 4px;
        }
        table .user-head{
            display: inline-block;
            position: relative;
        }
        table .username{
            display: inline-block;
            padding-left: 42px;
        }
        table .user-img{
            display: inline-block;
            position: absolute;
            top: -26px;
            padding: 5px;
            width: 32px;
            height: 32px;
        }
        table .user-img img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border: 1px solid #d4d4d4;
        }
    </style>

</head>
<body>

<fieldset class="layui-elem-field">
    <legend>查询</legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">

                <label class="layui-form-label">关键词:</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$param.key}" name="key" placeholder="请输入关键词" class="layui-input">
                </div>

                <button class="layui-btn" lay-submit="">查询</button>

            </div>
        </form>
    </div>
</fieldset>

<table class="layui-table" lay-even="" lay-skin="row">
    <thead>
    <tr>
        <th>序号</th>
        <th>登录名称</th>
        <th>真实名称</th>
        <th>手机号码</th>
        <th>邮箱账号</th>
        <th>注册时间</th>
        <th style="width:50px; text-align: center">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="dataProvider" id="model" key="key" empty="<tr class='empty'><td colspan='5' style='text-align: center;'> 没有数据 </td> </tr>"}
    <tr data-key="{$model.id}">
        <td style="width: 45px;text-align: center;">
            {$key+($indexOffset)}
        </td>
        <td>
            <span class="user-head">
                {if condition="!empty($model.head_url)"}
                <div lay-filter="img" lay-src="{$model.head_url}" lay-class="user-img" lay-title="个人信息" lay-alt="我的头像" style="width: 100%;height: 40px;"></div>
                {else} <div class="user-img"><img src="/static/images/default-user.png"></div>
                {/if}
            </span>
            <span class="username">{$model.username}</span>
        </td>
        <td>{$model.real_name}</td>
        <td>{$model.phone}</td>
        <td>{$model.email}</td>
        <td>{$model.registered_at}</td>
        <td style="width: 230px;text-align: center;" class="action">
            <a href="javascript:void(0);">
                <button onclick="Site.showUrl('查看用户信息','/manage/home_user/view.html?id={$model.id}&iframe=true','51%','62.8%','2',true,true,'LAY_LABEL_CREATE',true,true)" class="layui-btn layui-btn-small">
                    <i class="fa fa-eye"></i>
                    详情
                </button>
            </a>
            <a href="javascript:void(0);">
                <button onclick="Site.showUrl('查看用户 {$model.username} 足迹','/manage/home_user/log.html?id={$model.id}&iframe=true','72%','88%','2',true,true,'LAY_LABEL_CREATE',true,true,true,true)" class="layui-btn layui-btn-small">
                    <i class="fa fa-map-marker"></i>
                    用户足迹
                </button>
            </a>
            <a href="javascript:void(0);"><button onclick="Site.showDialog('信息确认','你确定删除此用户吗?',function(){deleteUser({$model.id});},true)" class="layui-btn layui-btn-small"><i class="fa fa-remove"></i>删除</button></a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

<!-- 分页容器 -->
<div id="paging_0124" style="text-align:right;" data-count="{$count}" data-pages="{$pages}" data-page=""></div>

<script>
    layui.use([ 'layer','laydate', 'form'], function() {});
    function deleteUser(id) {
        $.ajax({
            type : "post",
            url : '/manage/home_user/delete?id='+ id,
            dataType : 'json',
            beforeSend : function() {
                Site.loading();
            },
            success : function(data) {
                setTimeout(Site.hide(),500);
                if (data.code == '1'){
                    $('[data-key="'+id+'"]').remove();
                    success('删除成功');
                }
            },
            error : function(data) {
                Site.hide();
                error('删除失败');
            }
        });
    }
</script>
<script>
    $(function() {
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage,
                element = 'paging_0124',
                _page = $('#'+element),
                currPage = Site.getUrlParam('pageNumber'),
                count = _page.attr('data-count'),
                pages = _page.attr('data-pages');
            currPage = currPage > 1 ? currPage : 1;
            count = count ? count : 0;
            _page.attr('data-page',currPage);
            laypage({
                curr:currPage,
                cont: element,
                pages: pages,
                skip: true,
                jump: function(obj,first){
                    if(obj.curr != currPage) {
                        var url = location.href;
                        if(url.indexOf("?") == -1) {
                            location.href = url+"?pageNumber="+obj.curr;
                        }else {
                            var page = Site.getUrlParam('pageNumber');
                            if(page) {
                                location.href = url.replace("pageNumber="+page,"pageNumber="+obj.curr);
                            }else {
                                location.href = url.replace("?","?pageNumber="+obj.curr+"&");
                            }
                        }
                    }
                    _page.prepend('<span style="display: inline-block;text-align:center;padding: 0 20px;color: #333;font-size: 14px;"> 数量: '+(count)+' </span>');
                }
            });
        });
    });
</script>

</body></html>