<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>
    <style>
        table td.action{
            padding: 6px 10px;
        }
        table td.action a button i{
            padding-right: 4px;
        }
        table .user-head{
            display: inline-block;
            position: relative;
        }
        table .username{
            display: inline-block;
            padding-left: 42px;
        }
        table .user-img{
            display: inline-block;
            position: absolute;
            top: -26px;
            padding: 5px;
            width: 32px;
            height: 32px;
        }
        table .user-img img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border: 1px solid #d4d4d4;
        }
    </style>

</head>
<body>

<fieldset class="layui-elem-field">
    <legend>查询</legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">

                <label class="layui-form-label">关键词:</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$param.key}" name="key" placeholder="请输入关键词" class="layui-input">
                </div>

                <label class="layui-form-label">客户端类型</label>
                <div class="layui-input-inline">
                    <select name="type" lay-search >
                        <option value="0">全部</option>
                        {volist name="lists" id="item"}
                        <option value="{$key}" {if condition="$key eq $param.type"}selected{/if}>{$item}</option>
                        {/volist}
                    </select>
                </div>

                <button class="layui-btn" lay-submit="">查询</button>

            </div>
        </form>
    </div>
</fieldset>

<table class="layui-table" lay-even="" lay-skin="row">
    <thead>
    <tr>
        <th>序号</th>
        <th>路由</th>
        <th>地址</th>
        <th>客户端</th>
        <th>客户类型</th>
        <th>IP地址</th>
        <th>访问时间</th>
    </tr>
    </thead>
    <tbody>
    {volist name="dataProvider" id="model" key="key" empty="<tr class='empty'><td colspan='7' style='text-align: center;'> 没有足迹 </td> </tr>"}
    <tr data-key="{$model.id}">
        <td style="width: 45px;text-align: center;">
            {$key+($indexOffset)}
        </td>
        <td>{$model.route}</td>
        <td>{$model.url}</td>
        <td>{$model.user_agent}</td>
        <td>
        {if condition="isset($lists[$model.user_agent_type])"}
        {$lists[$model.user_agent_type]}
        {else} 无效
        {/if}
        </td>
        <td>{$model.ip}</td>
        <td>{$model.created_at}</td>
    </tr>
    {/volist}
    </tbody>
</table>

<!-- 分页容器 -->
<div id="paging_0124" style="text-align:right;" data-count="{$count}" data-pages="{$pages}" data-page=""></div>

<script>
    layui.use([ 'layer','laydate', 'form'], function() {});
    function deleteUser(id) {
        $.ajax({
            type : "post",
            url : '/manage/home_user/delete?id='+ id,
            dataType : 'json',
            beforeSend : function() {
                loading();
            },
            success : function(data) {
                setTimeout(hide(),500);
                if (data.code == '1'){
                    $('[data-key="'+id+'"]').remove();
                    success('删除成功');
                }
            },
            error : function(data) {
                hide();
                error('删除失败');
            }
        });
    }
</script>
<script>
    $(function() {
        layui.use(['laypage', 'layer'], function(){
            var laypage = layui.laypage,
                element = 'paging_0124',
                _page = $('#'+element),
                currPage = $.getUrlParam('pageNumber'),
                count = _page.attr('data-count'),
                pages = _page.attr('data-pages');
            currPage = currPage > 1 ? currPage : 1;
            count = count ? count : 0;
            _page.attr('data-page',currPage);
            laypage({
                curr:currPage,
                cont: element,
                pages: pages,
                skip: true,
                jump: function(obj,first){
                    if(obj.curr != currPage) {
                        var url = location.href;
                        if(url.indexOf("?") == -1) {
                            location.href = url+"?pageNumber="+obj.curr;
                        }else {
                            var page = $.getUrlParam('pageNumber');
                            if(page) {
                                location.href = url.replace("pageNumber="+page,"pageNumber="+obj.curr);
                            }else {
                                location.href = url.replace("?","?pageNumber="+obj.curr+"&");
                            }
                        }
                    }
                    _page.prepend('<span style="display: inline-block;text-align:center;padding: 0 20px;color: #333;font-size: 14px;"> 数量: '+(count)+' </span>');
                }
            });
        });
    });
</script>

</body></html>