<!DOCTYPE html>
<html>
<head>

    <title> [ Home ] </title>

</head>
<body>

<div id="main-content-container" class="main-content-container">

    <!-- This webBannerTable start -->
    <section>



        <div class="clearfloat"></div>

    </section>
    <!-- This webBannerTable end -->

    <!-- This absMiddleTable start -->
    <section>

        <table class="absMiddleTable" cellpadding="0" cellspacing="0">
            <tbody><tr>
                <td align="center">
                    <div id="absForms" class="forms sideForms absForms">

                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="clearfloat"></div>

    </section>
    <!-- This absMiddleTable end -->

    <!-- This fullmeasureTopForms start -->
    <section>

        <div id="fullmeasureTopForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureTopForms">
            <div id="module535" _indexclass="formIndex1" _modulestyle="80" _moduleid="535" class="form form535 formIndex1 formStyle80 fk-formFullmeasure " title="" style="height: 733px;" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="0" _inpack="0" _autoheight="0" _global="false" _independent="false" fmslidestyle="0" fmpage="1" iscarousel="0" displaytime="4" carouselspeed="1">
                <div class="fillContentRelative" style="position: relative; z-index: -1; height: 590px; width: 100%; display: none;"></div>
                <div style="position: static;" class="fullmeasureOuterContentPage fullmeasureOuterContentPage1 J_fullmeasurePageShow" page="1">
                    <div class="fullmeasureOuterContentBg fullmeasureOuterContentBg535 fullmeasureStyle0"></div>
                    <div class="fullmeasureOuterContent fullmeasureOuterContent535">
                        <div class="fullmeasureContent fullmeasureContent535" id="fullmeasureContent535_1" moduleid="535">
                            <div class="fullmeasureContentBg fullmeasureContentBg535"></div>
                            <div id="module15" _indexclass="formIndex1" _modulestyle="50" _moduleid="15" systempattern="60" class="form form15 formStyle50 jz-modulePattern60 formIndex1" title="" style="" _side="0" _intab="0" _inmulmcol="0" _infullmeasure="535" _inpack="0" _autoheight="1" _global="false" _independent="false">
                                <table class="formTop formTop15" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="left"></td>
                                        <td class="center"></td>
                                        <td class="right"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="formBanner formBanner15" cellpadding="0" cellspacing="0" style="">
                                    <tbody>
                                    <tr>
                                        <td class="left left15"></td>
                                        <td class="center center15" valign="top">
                                            <table cellpadding="0" cellspacing="0" class="formBannerTitle formBannerTitle15">
                                                <tbody>
                                                <tr>
                                                    <td class="titleLeft titleLeft15" valign="top"></td>
                                                    <td class="titleCenter titleCenter15" valign="top">
                                                        <div class="titleText titleText15">
                                                            <span class="bannerNormalTitle fk_mainTitle mainTitle mainTitle15">Contact</span>
                                                        </div>
                                                    </td>
                                                    <td class="titleRight titleRight15" valign="top"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="right right15"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class=" formMiddle formMiddle15" style="" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="formMiddleLeft formMiddleLeft15"></td>
                                        <td class="formMiddleCenter formMiddleCenter15 " valign="top">
                                            <div class="formMiddleContent formMiddleContent15 fk-formContentOtherPadding" tabstyle="0">
                                                <div id="msgBoard15" class="msgBoard msgSubmit" style="margin-left:14px;">
                                                    <div id="msgAdd" class="msgSAdd">
                                                        <div class="g_tip msgTips"></div>
                                                        <div class="msgSAdd_N">
                                                            <div class="msgAddTitle_N">Post your message：</div>
                                                            <div style="width: 330px; _width: 350px;" class="msgPanel_N"><div class="msgSubmit_overToPoint" style="float:left;width:60px">
                                                                <div class="msgSubmit_PropBoard" style="width:56px">Name：</div>
                                                            </div>
                                                                <input style="width: 194px;" class="g_itext msg_ipt msg_isMust" id="reqName" name="Name" type="text" size="14" maxlength="50" value=""><font class="star">*</font>
                                                            </div>
                                                            <div style="width: 330px; _width: 350px;" class="msgPanel_N">
                                                                <div class="msgSubmit_overToPoint" style="float:left;width:60px">
                                                                    <div class="msgSubmit_PropBoard" style="width:56px">Email：</div>
                                                                </div>
                                                                <input style="width: 194px;" class="g_itext msg_ipt " id="reqEmail" name="Email" type="text" size="14" maxlength="50" value="">
                                                            </div>
                                                            <div style="width: 330px; _width: 350px;" class="msgPanel_N"><div class="msgSubmit_overToPoint" style="float:left;width:60px">
                                                                <div class="msgSubmit_PropBoard" style="width:56px">Phone：</div>
                                                            </div>
                                                                <input style="width: 194px;" class="g_itext msg_ipt " id="reqPhone" name="Phone" type="text" size="14" maxlength="50" value="">
                                                            </div>
                                                        </div>
                                                        <div class="msgAddText_N">
                                                            <div style="float:left;width:60px" class="msgSubmit_overToPoint">
                                                                <div class="msgSubmit_PropBoard" style="width:56px">Words：</div>
                                                            </div>
                                                            <textarea class="g_textarea" id="reqContent" rows="3" cols="50" style="resize:vertical;width: 914px;" placeholder="Message to be displayed after review" maxlength="10000"></textarea>
                                                        </div>
                                                        <div class="msgCaptcha_N  J_msgBoardCaptcha msgBoardCaptchaHide">
                                                            <div style="float:left;width:60px" class="msgSubmit_overToPoint">
                                                                <div class="msgSubmit_PropBoard" style="width:56px">Code：</div>
                                                            </div>
                                                            <div style="float:left;">
                                                                <input class="g_itext" id="msgBoardCaptcha" type="text" maxlength="4">
                                                            </div>
                                                            <div style="float:left;" class="validateCode_N">
                                                                <img alt="" onclick="Site.changeMsgBoardValidateCode()" title="Can not see, change one" id="msgBoardCaptchaImg" style="height:24px;width:80px;cursor:pointer;vertical-align: -8px;margin-left:10px;" src="/aliveHouse/web/validateCode.php">
                                                            </div>
                                                        </div>
                                                        <div class="msgAddButton_N">
                                                            <div style="float:left;width:60px" class="msgSubmit_overToPoint">
                                                                <div class="msgSubmit_PropBoard" style="width:56px">&nbsp;</div>
                                                            </div>
                                                            <div class="m_ibutton m_ibutton4">
                                                                <div class="left"></div>
                                                                <div class="middle" style="min-width:106px;" onclick="Site.msgBoardAddMsg(false,15,0)">Post</div>
                                                                <div class="right"></div>
                                                            </div>
                                                        </div>
                                                        <div class="msgFlag_N">
                                                            <div style="float:left;text-align:left;" class="msgSubmit_overToPoint">Message：</div>
                                                        </div>
                                                        <div class="msgNot_N g_border_t" style="text-align:center;">
                                                            <div style="text-align:left;margin-top:20px">Not Message</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="pagenation15" class="pagenation_N">
                                                    <div class="pagePrev_N prevHide_model">
                                                        <div class="pageArrow_ph J_pageArrow_N"></div>
                                                        <a hidefocus="true" style="padding:0;margin-left:0;">
                                                            <span style="margin-left:0px;" class="unclick">上一页</span>
                                                        </a>
                                                    </div>
                                                    <div class="pageNo"><span class="selected">1</span></div>
                                                    <div class="pageNext_N nextHide_model">
                                                        <a hidefocus="true" style="padding:0;margin-left:0;"><span class="unclick">下一页</span></a>
                                                        <div class="pageArrow_nh J_pageArrow_N"></div>
                                                    </div>
                                                    <div class="pageTotal">共<span>1</span>页</div>
                                                    <div class="jumpPageDiv">到第<input id="jumpPage" type="text" maxlength="10" class="jumpPage" oninput="this.value=this.value.replace(/[^0-9]+/g,&quot;&quot;);" onkeypress="javascript:return Fai.isNumberKey(event);">页
                                                        <a id="jumpBtn" onclick="Site.jumpToPage(15,1,&quot;//home/contact/contact.html&quot;)" type="button" class="bottomSearch">确定</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="formMiddleRight formMiddleRight15"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="formBottom formBottom15" cellpadding="0" cellspacing="0">
                                    <tbody>
                                    <tr>
                                        <td class="left left15"></td>
                                        <td class="center center15"></td>
                                        <td class="right right15"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="clearfloat clearfloat15"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfloat clearfloat535"></div>
                </div>
            </div>

            <wbr style="display:none;"></div>

        <div class="clearfloat"></div>

    </section>
    <!-- This fullmeasureTopForms end -->

    <!-- This webContainerTable start -->
    <section>



        <div class="clearfloat"></div>

    </section>
    <!-- This webContainerTable end -->

    <!-- This fullmeasureBottomForms start -->
    <section>


        <div id="fullmeasureBottomForms" class="fullmeasureContainer forms fk-fullmeasureForms fullmeasureForms fullmeasureBottomForms" style="display: none;">
            <wbr style="display:none;">
        </div>

        <div class="clearfloat"></div>

    </section>
    <!-- This fullmeasureBottomForms end -->

    <!-- This absBottomTable start -->
    <section>

        <table class="absBottomTable" cellpadding="0" cellspacing="0">
            <tbody>
            <tr>
                <td align="center">
                    <div id="absBottomForms" class="forms sideForms absForms">
                        <div style="position:absolute;"></div><!-- for ie6 -->

                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="clearfloat"></div>

    </section>
    <!-- This absBottomTable end -->

    <div class="clearfloat"></div>

</div>

<!-- Load Core CSS -->

<!-- Load Core JS -->

</body>
</html>