<!-- 加载公共模板文件开启 -->
<div class="bs-container" style="min-height: 2048px;background-color: rgba(244,244,244,.9);">
    <div class="layui-row">
        <div class="" style="padding:0 15px;text-align: left;font-size: 18px;line-height: 22px;">
            <div>
                <p>Letter from an Unknown Woman</p>
                <p>(1922)</p>
                <p>Stephan Zweig</p>
                <p>German biographer, essayist, short story writer, and cosmopolitan, Stephan</p>
                <p>Zweig (1881-1943) was a prolific writer whose vivid portrayals of his characters,</p>
                <p>whether fictional or factual, were emphatically probing and believable. In the 1930s</p>
                <p>Zweig was one of the most widely translated authors of the world. His extensive travels</p>
                <p>led him to India, Africa, North and Central America, and Russia.</p>
                <p>Born in Vienna into a family of wealthy industrialist, Zweig studied in Austria,</p>
                <p>France, and Germany. By 1904 he had earned a doctorate from Vienna University, and</p>
                <p>he traveled widely before settling in Salzburg in 1913. In 1914, he married Friderike von</p>
                <p>Winternitz, who had started to send him fan mail in 1901, when his first work, a</p>
                <p>collection of poems, appeared. Zweig later became known as a biographer, short-story</p>
                <p>writer, and novelist. Zwieg’s biographical essays include portraits of Honoré de Balzac,</p>
                <p>Charles Dickens, and Fyodor Dostoyevsky; he was interested in the teachings of</p>
                <p>Sigmund Freud, which influenced his biographies as well as his fiction. Several of</p>
                <p>Zweig’s stories have been filmed, the best-known of which is Letter From an Unknown</p>
                <p>Woman, directed by Max Ophüls (1948).</p>
                <p>During the years at Salzburg, Zweig began to suspect that Hitler’s persecution of</p>
                <p>Jews was directed at him personally, and he never recovered from this paranoia. His</p>
                <p>work was banned by the Nazis and Zweig was driven into exile. In 1938 he became a</p>
                <p>British citizen, and in 1940, after a successful lecture tour in South America, he settled</p>
                <p>in Brazil. Disillusioned and isolated, Zweig committed suicide with his second wife near</p>
                <p>Rio de Janeiro on February 23, 1942. Zweig’s autobiography, The World of Yesterday,</p>
                <p>was published posthumously the following year. In it, he wrote that "my main interest</p>
                <p>in writing has always been the psychological representation of persons and their lives.”</p>
                <p>R., the famous novelist, had been away on a brief holiday in the mountains.</p>
                <p>Reaching Vienna early in the morning, he bought a newspaper at the station,</p>
                <p>and when he glanced at the date was reminded that it was his birthday.</p>
                <p>“Forty-one!”—the thought came like a flash. He was neither glad nor sorry at</p>
                <p>the realisation. He hailed a taxi, and skimmed the newspaper as he drove home.</p>
                <p>His man reported that there had been a few callers during the master’s absence,</p>
                <p>besides one or two telephone messages. A bundle of letters was awaiting him.</p>
                <p>Looking indifferently at these, he opened one or two because he was interested</p>
                <p>in the senders, but laid aside for the time a bulky packet addressed in a strange</p>
                <p>handwriting. At ease in an armchair, he drank his morning tea, finished the</p>
                <p>newspaper, and read a few circulars. Then, having lighted a cigar, he turned to</p>
                <p>the remaining letter.</p>
                <p>It was a manuscript rather than an ordinary letter, comprising a couple of</p>
                <p>dozen hastily penned sheets in a feminine handwriting. Involuntarily he</p>
                <p>examined the envelope once more, in case he might have overlooked a covering</p>
                <p>letter. But there was nothing of the kind, no signature, and no sender’s address</p>
                <p>on either envelope or contents. “ Strange,” he thought, as he began to read the</p>
                <p>manuscript. The first words were a superscription: “To you, who have never</p>
                <p>known me.” He was perplexed. Was this addressed to him, or to some</p>
                <p>imaginary being? His curiosity suddenly awakened, he read as follows:</p></div>
        </div>
    </div>

</div>
<!-- 加载公共模板文件结束 -->