.bgw{background: #fff !important;}
/*首页*/
.layui-layout-admin .layui-header{background-color: #393D49;border-bottom: 5px solid #1AA094;}
.head{float: left;display: block;margin-top: 10px;margin-left: 30px;text-align: center;}
.head img{width: 80px;height: 80px;border-radius: 100%;}
.head p{color: #c2c2c2;margin-top: 5px;}
.personMsg{float: left;margin-left: 130px;margin-top: 15px;}
.personMsg .title{overflow: hidden;color: #c2c2c2;padding-left:40px;}
.personMsg .title span.name{font-weight: bold;font-size: 18px;color: #fff;}
.personMsg .title span{margin-right: 30px;}
.personMsg .title span em,.personMsg .title span{font-weight: bold;font-size: 14px;}
.personMsg .title a{color: #c2c2c2;position: absolute;right: 50px;top: 14px;}
.personMsg .content{overflow: hidden;margin-top: 10px;}
.personMsg .content a{float: left;display: block;text-align: center;vertical-align: middle;color: #fff;padding: 12px 40px;position: relative;}
.personMsg .content a:after{position: absolute;content: '';background-color: #c2c2c2;right: 0;top: 18px;height: 30px;width: 1px;}
.personMsg .content a.lasta:after{width: 0;}
.personMsg .content a em{color: #fff;font-weight: bold;font-size: 16px;}
.personMsg .content a em.cash{color: #fff;}
.personMsg .content a p{margin-top: 5px;font-size: 12px;}
.layui-tab-content .layui-tab-item iframe{width: 100%;border: 0;height: 100%;}
#dinner-home i.layui-icon {display: none;}
.dinner-tab-box>.layui-tab-title .layui-this {color: white;background-color: #1AA094;}
.dinner-tab-box .layui-tab-title cite{padding-left: 5px;}
.layui-nav-tree li.layui-nav-item .layui-nav-child dd a {padding-left: 40px !important;padding-right: 0px;}
.layui-nav i{font-size: 18px;margin-right: 10px;}
/*后台首页*/
.contain{padding-bottom: 20px;}
.main h1{font-size: 16px;line-height: 50px;padding-left: 20px;border-bottom: 1px solid #ebebeb;}
.leftBar{float: left;width: 76%;}
.leftBar form{margin-top: 20px;}
.leftBar .layui-form-item .layui-inline{float: left;}
.leftBar .layui-tab-title{border-color: #ebebeb;}
.leftBar .layui-form-item .layui-input-inline{width: 144px;}
.leftBar .layui-btn+.layui-btn{margin-left: 5px;}
.dataBox{margin-left: 20px;}
.layui-table th,.layui-table td{text-align: center;}
.noticeBar ul{border: 1px solid #ebebeb;padding: 10px;margin: 20px 0 10px 20px;min-height: 200px;}
.noticeBar ul li{border-bottom: 1px solid #ebebeb;line-height: 40px;}
.noticeBar ul li em{float: right;}
.rightBar{float: right;width: 260px;}
.rightBar .teamBar{position: relative;}
.main .rightBar h1{padding-left: 0;}
.rightBar .layui-form{position: absolute;right: 0;top: 6px;}
.main .rightBar .layui-form-item .layui-input-inline{width: 120px;}
.rightBar .teamBar ul{background-color: #FF5722;color: #c2c2c2;padding: 10px;padding-top: 0;margin: 10px;}
.rightBar .teamBar ul li{overflow: hidden;border-bottom: 1px solid #fff;padding: 10px 0;}
.rightBar .teamBar ul li img{float: left;width: 70px;margin-right: 10px;height: 70px;}
.rightBar .teamBar ul li .notice{float: left;}
.rightBar .teamBar ul li .notice h3{font-size: 15px;line-height: 1;color: #fff;font-weight: bold;}
.rightBar .teamBar ul li .notice p{font-size: 13px;margin-top: 2px;color: #fff}
.rightBar .teamBar ul li .notice p em{color: #fff;font-weight: bold;}
.dataBox .layui-tab-content{padding:10px 20px;}
/*楼盘列表*/
.building .choice{position: relative;}
.building .layui-inline.select-box{width: 130px;margin-right: 10px;}
.building .layui-input-inline.search{width: 550px;}
.building .condition{margin-bottom: 10px;}
.building .layui-form-item {margin-bottom: 0;}
.building .layui-form-item .layui-form-label{padding-right: 0;}
.building .layui-form-item .layui-input-block{margin-left: 80px;}
.building .layui-form-item .layui-form-checkbox[lay-skin="primary"]{margin-top: 5px;}
.building .layui-form-item.baobei .layui-form-checkbox[lay-skin="primary"]{margin-top: 10px;}
.others {position: relative;top: 3px;margin-bottom: 0 !important;}
.others .layui-form-label{ width: 50px !important;}
.building .layui-collapse{border: none;border-bottom: 1px solid #e2e2e2;padding: 20px;}
.building .layui-colla-item{border: none;}
.building .layui-colla-item h2{border: 1px solid #e2e2e2;}
.building .layui-colla-item h2.short{border: 1px solid #e2e2e2;position: absolute;left: 940px;top: 20px;height: 36px;}
.building .layui-colla-content{padding: 0;border: none;}
.building .condition{position: relative;}
.building-box{margin: 20px;}
.station{background-color: #009688;line-height: 44px;height: 44px;}
.station span{padding: 0 20px;color: #fff;position: relative;display: inline-block;margin-right: 10px;}
.station span:after{position: absolute;content: '';width: 1px;height: 24px;right: 0;top: 10px;background-color: #fff;}
.station a{padding: 3px 10px;color: #fff;}
.station a:active,.station a.current{border: 2px solid #fff;border-radius: 20px;font-weight: bold;}
.operate{margin: 10px 0;}
h1.number {border-bottom: 1px solid #ebebeb;padding-bottom: 10px;padding-left: 20px;}
h1.number em{color: #009688;}
.building-list{margin: 10px 0;border: 1px solid #ebebeb;padding: 10px 20px;}
.building-list .layui-form-checkbox[lay-skin="primary"] span{color: #009688;}
.building-list .pic-num{display: inline-block;font-size: 14px;float: right;}
.building-list .pic-num a{padding: 0 15px;position: relative;}
.building-list .pic-num a:after{position: absolute;content: '';height: 100%;width: 1px;right: 0;top: 0;background-color: #ebebeb;}
.building-list .pic-num a.lasta:after{width: 0;}
.building-list .pic-num a em{color: #009688;}
.building-title{padding-bottom: 10px;border-bottom: 1px solid #ebebeb;}
.building-content{margin: 10px 0;padding-bottom: 10px;border-bottom: 1px solid #ebebeb;overflow: hidden;}
.building-content a.building-img{display: inline-block;width: 180px;height: 140px;float: left;}
.building-content a.building-img img{width: 100%;height: 100%;display: block;}
.detail-box{margin-left: 40px;float: left;width: 80%;}
.building-detail{ display: table;}
.details{display: table-cell;padding-right: 80px;}
.details p{margin-bottom: 11px;}
.building-msg{overflow: hidden;}
#page{text-align: center;}
/*招商信息*/
.building .layui-tab {margin: 20px 10px 0;}
.building .layui-tab-title{border-color: #ebebeb;}
.building table a{display: inline-block;}
.msgTitle{position: fixed;width: 100%;}
.msgTitle h1{background-color: #009688;line-height: 44px;color: #fff;text-align: center;font-size: 16px;}
.msgTitle a{position: absolute;right: 20px;top: 12px;color: #c2c2c2;}
.msgTitle a.openP{right: 100px;}
.msgTitle a.openP:after{position: absolute;content: '';height: 14px;width: 1px;right: -12px;top: 3px;background-color: #c2c2c2;}
.listContent{padding-top: 44px;}
.listContent ul{padding: 0 15px;margin-top: 10px;}
.listContent ul li{padding-bottom: 1px;display: table;width: 100%;}
.listContent ul li div{display: table-cell;color: #333;width: 50%;padding: 5px 0 10px;border-bottom: 1px solid #ebebeb;}
.listContent ul li div label{display: block;margin-top: 5px;overflow: hidden;}
.listContent ul li div label span{display: block;float: left;}
.listContent ul li label em{color: #009688;float: left;width: 74%;}
.part .layui-form-item{margin-bottom: 8px;padding: 0 20px;}
.part .layui-form-item.belong{border-bottom: 1px dashed #ebebeb;}
.part .layui-form-item .layui-inline{margin-bottom: 0;}
.part .layui-form-item .layui-form-label{width: 100px;}
.part h1{float: left;color: #009688;padding-top: 9px;}
.part .layui-input-block{margin-left: 115px;}
.part p{text-align: center;height: 44px;line-height: 44px;background-color: #eee;margin-bottom: 8px;}
/*楼盘更新*/
.update.layui-form-item .layui-inline{margin: 0;}
.update.layui-form-item .layui-input-inline{margin: 0;}
.contain p.page{position: absolute;bottom: 20px;left: 0;right: 0;margin: auto;text-align: center;color: #009688;}
/*楼盘详情页*/
.menu .layui-tab-title{border-bottom-color: #ebebeb;}
.menu .layui-tab-card{margin: 0;}
.menu .layui-tab-content{background-color: #fff;}
.menuList{padding: 10px 15px 0;}
.menuList .layui-form span{cursor: pointer;}
.layui-form .need{color: #009688;}
.menuList .layui-form span.unit{line-height: 38px;}
.menuList .layui-form span.layui-btn{height: 30px;line-height: 30px;float: left;margin-left: 10px;margin-top: 4px;}
.menuList .upload{float: left;overflow: hidden;display: none;}
.menuList .upload .layui-upload-button{float: left;margin-left: 10px;}
.menuList .layui-form-item{margin-bottom: 8px;}
.menuList .layui-input-block{margin-left: 105px;}
.menuList .layui-form-item.special .layui-form-checkbox[lay-skin="primary"],.menu .layui-form-item.special .layui-form-checkbox[lay-skin="primary"]{height: 28px !important;}
.menuList .layui-form-item .layui-inline{margin-bottom: 0;}
.menuList .layui-form-item .layui-input-inline{width: 260px;}
.menuList .layui-form-item.date{border-top: 1px dashed #ebebeb;border-bottom: 1px dashed #ebebeb;padding: 10px 0;}
.menuList .layui-form-item.date span{display: inline-block;margin-left: 20px;}
.menuList .layui-form table span{padding: 0 10px;position: relative;}
.menuList .layui-form table span.edit-price:after{position: absolute;content: '';height: 16px;width: 1px;right: 0;top: 2px;background-color: #c2c2c2;}
.menuList .layui-form #demo{text-align: center;}
.menuList p.record,.menu p.record{color: #009688;text-align: center;}
.menuList p.record.record-page{position: absolute;bottom: 10px;width: 100%;left: 0;right: 0;margin: auto;}
.menuList .pricePic{margin: 20px 0;}
.menuList .pricePic p.price{line-height: 44px;color: #fff;background-color: #009688;padding: 0 20px;margin-bottom: 20px;}
.menuList .pricePic p.price span{cursor: pointer;}
/*.menuList .map{height: 300px;}*/
.menuList .layui-form-label{width: 90px;}
.nav{height: 90px;padding-top: 15px;margin-left: 50px;}
.nav img{float: left;width: 122px;height: 90px;}
.nav .nav-content{float: left;margin-left: 30px;color: #fff;width: 850px;}
.nav .nav-title{overflow: hidden;}
.nav .nav-title *{float: left;line-height: 30px;margin-right: 15px;}
.nav .nav-title span.layui-btn-mini{margin-top: 4px;line-height: 22px;}
.nav .nav-title h1{font-size: 24px;}
.nav ul{overflow: hidden;}
.nav ul li {float: left;margin-right: 30px;margin-top: 10px;}
.nav ul li p{color: #fff;}
.nav ul li a{text-decoration: underline;color: #fff;}
.building-name{position: fixed;width: 100%;z-index:10; border: 1px solid #ebebeb; border-right: none; line-height: 44px;background-color: #f2f2f2;color: #333;padding-left: 20px;font-size: 16px;}
.building-name span{margin-left: 20px;font-size: 14px;}
.building-name span em{padding: 0 3px;color: #009688;}
.type-list{padding: 20px;padding-top: 44px;}
.list-box{border-top: 1px solid #ebebeb;padding-top: 10px;}
.list-box ul.layui-form.piclist{overflow: hidden;}
.list-box ul.layui-form.piclist li{float: left;margin-right: 20px;margin-bottom: 20px;border: 1px solid #ebebeb;width: 276px;}
.list-box ul.layui-form.piclist li .list-title{border-bottom: 1px solid #ebebeb;padding: 10px;}
.list-box ul.layui-form.piclist li .list-title .layui-form-checkbox[lay-skin="primary"] span{width: 220px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.list-box ul.layui-form.piclist li a.list-pic{display: block;padding: 10px;}
.list-box ul.layui-form.piclist li a.list-pic img{width: 256px;height: 140px;}
.list-box ul.layui-form.piclist li .list-content,.list-box ul.layui-form.piclist li .layui-form-item{padding: 0 10px;}
.list-box ul.layui-form.wordlist li{border: 1px solid #ebebeb;margin-bottom: 10px;padding: 10px;}
.list-box ul.layui-form.wordlist li .topic{border-bottom: 1px dashed #ebebeb;padding-bottom: 10px;}
.list-box ul.layui-form.wordlist li .topic .operation span{position: relative;padding: 0 20px;cursor: pointer;}
.list-box ul.layui-form.wordlist li .topic .operation span:after{position: absolute;content: '';right: 0;top: 2px;width: 1px;height: 16px;background-color: #ebebeb;}
.list-box ul.layui-form.wordlist li .topic .operation span.none:after{width: 0;}
.list-box ul.layui-form.wordlist li .word p{text-indent: 2em;margin: 10px 0;} 
.list-box ul.layui-form.wordlist li .word label{color: #009688;text-indent: 2em;width: auto;}
.list-box ul.layui-form.wordlist li .date{margin-top: 10px;border-top: 1px solid #ebebeb;padding-top: 10px;}
#l-map{height:300px;width:100%;}
.uploadimg .layui-form-item.img{width: 240px;position: relative;margin-top: 20px;}
.uploadimg .layui-form-item.img img.delete{ cursor: pointer; position: absolute;right: -15px;top: -15px;width: 30px;height: 30px;}
.uploadimg .layui-form-item img{width: 240px;height: 150px;}
.uploadimg .layui-form-item input{width: 240px;margin: 10px 0;}
.menuList .edit-type .layui-form-label{width: 80px;}
.menuList .edit-type .layui-form-item.param .layui-inline{margin-right: 0;}
.menuList .edit-type .layui-form-item.param .layui-input-inline{width: 100px;}
.menuList .edit-type .layui-form-item.param .layui-form-checkbox[lay-skin="primary"]{margin-top: 0;}
.menuList .edit-type .layui-form-item .layui-input-block img{width: 260px;height: 200px;}
.menuList .edit-type .layui-form-item.date span{margin-left: 10px;}
.menuList .uploadimg .layui-form-item .layui-form-radio{padding-right: 0;}
.menuList button.renew{margin: 10px 0 10px 105px;}
.menuList p.total{padding-bottom: 10px;border-bottom: 1px solid #ebebeb;margin-bottom: 10px;}
.menuList .user .layui-form-item .layui-input-inline{width: 190px;}
.layui-word-aux.result{color: #009688;font-size: 14px;}
.menuList .note{margin-bottom: 10px;border: 1px solid #ebebeb;}
.menuList .note p{margin: 5px 0;padding: 0 10px;}
.menuList .note p em{color: #009688;width: 80px;display: inline-block;}
.correct{overflow: hidden;}
.correct h1{text-align: center;font-size: 16px;margin-bottom: 10px;}
.correct div.layui-form{width: 402px;}
.correct form.layui-form{width: 435px;}
.menuList .correct .layui-form-item .layui-input-inline{width: 286px;}
.menuList .correct .layui-form-item .layui-input-inline.area{width: 100px;}
.menuList .correct .layui-disabled,.menuList .correct .layui-disabled:hover{color: #333 !important;}
.add .layui-tab-card{border: none;}
.layui-red{color: #FF5722;}
.layui-blue{color: #1E9FFF;}
/*分销*/
.building.distribution .layui-colla-item .layui-form-item{display: none;}
.data{padding: 15px 10px;}
.data .layui-form-item .layui-inline{margin-right: 0;}
.data .layui-form-item .layui-input-inline{width: 150px;}
.data .layui-form-item .layui-btn+.layui-btn{margin-left: 5px;}
.user-num{margin-top: 15px;}
.user-num h1 {border-bottom: 1px solid #ebebeb;padding-bottom: 15px;margin-bottom: 20px;}
.user-num h1 em{color: #009688;}
.distribution.usedBox{width: 1200px !important;margin: 0 auto !important;}
.distribution .customer_detail,.distribution .layui-tab-card{background-color: #fff;}
.distribution .layui-tab-title{border-color: #ebebeb;}
.message-box{min-height: 400px;}
.message-box .top_bar .gonngneng_btn{padding-right: 0;}
.message-box .box-left{float: left;width: 900px;}
.message-box .box-right{float: right;width: 280px;}
.message-box ul.plan-list{border: 1px solid #ebebeb;margin-top: 10px;}
.message-box ul.plan-list li{padding: 15px 10px;border-bottom: 1px solid #ebebeb;position: relative;cursor: pointer;}
.message-box ul.plan-list li label{cursor: pointer;}
.message-box ul.plan-list li label a:hover{color: #FF5722;text-decoration: underline;}
.message-box ul.plan-list li .layui-form-item{margin-bottom: 0;padding: 5px;}
.message-box ul.plan-list li:hover{background: #f2f2f2;}
.message-box ul.plan-list li button.buy{position: absolute;right: 10px;top: 0;bottom: 0;margin: auto;display: none;}
.message-box ul.plan-list li .item-btn{position: absolute;right: 10px;top: 0;bottom: 0;margin: auto;height: 38px;display: none;}
.message-box ul.plan-list li:hover .item-btn{display: block;}
.message-box ul.plan-list li:hover button.buy{display: block;} 
.message-box ul.plan-list li.lastli{border-bottom: none;}
.message-box ul.plan-list ul li .layui-form-item{margin-bottom: 5px;}
.message-box ul.plan-list li .layui-form-item .layui-inline{margin-right: 50px;}
.box-right ul{margin-right: 10px;}
.box-right ul li{border: 1px solid #ebebeb;margin-top: 10px;}
.box-right ul li .layui-form-item{margin-bottom: 0;margin: 0 10px;}
.box-right ul li .layui-form-item.record-list{border-top: 1px solid #ebebeb;}
.box-right ul li .layui-form-item.record-list.none{border-top: none;}
.box-right ul li .layui-form-label{padding-right: 0;}
.box-right ul li .layui-form-label.label-content{width: 168px;text-align: left;}
.box-list .layui-table td{width: 16.6%;text-align: left;}
.box-list .layui-table td.layui-bg-gray{text-align: center;}
.message-box .top_bar .gonngneng_btn.layui-form{padding-right: 10px;}
.client-list{margin: 10px;margin-bottom: 0;}
.client-list .layui-form-label{width: auto;}
.client-list .layui-inline{margin-bottom: 0;}
.client-list div.layui-form-item{border: 1px solid #ebebeb;border-bottom: none;} 
.client-list .layui-form-item ul li{border-bottom: 1px solid #ebebeb;padding: 10px;}
.client-list .layui-form-item .layui-form-checkbox[lay-skin="primary"]{margin-top: 0;}
.client-list .search{border: 1px solid #ebebeb;padding: 10px;margin-bottom: 10px;}
.client-list div.layui-form-item p{background-color: #f5f5f5;padding: 10px 30px;}
.client-list div.layui-form-item  .layui-form-checkbox[lay-skin="primary"]{float: left;margin-right: 10px;margin-top: 10px;}
.client-list div.layui-form-item .layui-form-label{width: 250px;text-align: left;}
.top_bar label{line-height: 38px;margin-left: 30px;}
.top_bar label em{color: #009688;padding: 0 2px;}
.client-list div.layui-form-item.purchase .layui-form-label{width: 180px;padding-right: 30px;}
.client-list div.inline.sub{border: 1px solid #ebebeb;padding-left: 28px;margin-top: 5px;}
.edit-data .layui-form-item .layui-input-block{margin-left: 105px;}
.edit-data .layui-form-item{margin-bottom: 5px;padding: 0 10px;}
.edit-data .layui-form-item .area .layui-input-inline{width: 130px;}
.edit-data .layui-form-label{width: 90px;}
.edit-data .review .layui-form-label{width: 105px;}
.edit-data .review .layui-form-item .layui-input-block{margin-left: 120px;}
.review.layui-form{margin-top: 10px;}
.review .layui-form-item .layui-form-checkbox[lay-skin="primary"]{height: 28px !important;}
.review .layui-form-item .layui-input-inline.sele{width: 100px;}
.record-btn .layui-btn+.layui-btn,.user-btn .layui-btn+.layui-btn{margin-left: 8px;}
.building table .handle{padding: 0 10px;cursor: pointer;color: #1E9FFF;}
.building table .recover{cursor: pointer;color: #009688;}
.building table .look{cursor: pointer;color: #F7B824;}
.building table .cut{cursor: pointer;color: #FF5722;}
.building table .gray{cursor: pointer;color: #ccc;}
.building table .handle:hover,.building table .recover:hover,.building table .cut:hover,.building table .look:hover{text-decoration: underline;}
.layui-form-mid.contents{color: #FF5722;font-size: 14px;}
.edit-data .block_item{margin: 10px;}
.data .layui-btn-small{height: 26px;line-height: 26px;padding: 0 15px;}
.layui-tab-content .tongji_box{height: 350px;}
.gvChart{width: 50%;height: 350px;float: left;}
.more-radio .layui-form-radio{width: 108px;}
.data .selling.layui-form-item .layui-inline{display: none;}
@media only screen and (min-width:768px ) {
	.leftBar{float: left;width: 76%;}
}
@media only screen and (min-width:1200px ) {
	.leftBar{float: left;width:78%;}
}
@media only screen and (min-width:1600px ) {
	.leftBar{float: left;width:82%;}
}