<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <!-- Favicon -->
    <link rel="shortcut icon" href="_SHORTCUT_" type="image/x-icon">

    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="_LAYUI_/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/layout.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/back.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css" media="all">

    <!-- For site js -->
    <script type="text/javascript" src="__JS__/jquery.js"></script>
    <script type="text/javascript" src="_LAYUI_/layui.js"></script>

    <title>{$meta_title ? $meta_title.' - ' : ''}_TITLE_</title>

</head>

<body>

<section style="max-width:1200px;margin: 0 auto 30px;position: relative;">
    <form class="layui-form forms" id="defaultForm" action="__URL__" method="post" style="padding: 15px 0">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>标题：</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" lay-verify="require" placeholder="请输入楼盘名称" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>所属区域：</label>
                <div class="layui-input-inline">
                    <select name="city_id" lay-verify="require" lay-search >
                        <option value="">选择城市</option>
                        {volist name="cityLists" id="item"}
                        <option value="{$key}">{$item}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="county_id" lay-search="" id="county" >
                        <option value="">选择区/县</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>楼盘地址：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="address" lay-verify="require" placeholder="请输入楼盘地址" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>楼盘Logo：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <input type="file" id="BuildingLogo_file" name="file" placeholder="楼盘Logo" class="layui-upload-file">
                <input type="hidden" value="" name="logo" id="logo" lay-verify="require" lay-error="楼盘LOGO不能为空" placeholder="楼盘Logo" class="layui-input">
                <div lay-filter="show" style="display:none;border: 1px solid #e6e6e6;border-radius: 2px;max-width: 700px;"></div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>楼盘广告语：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea  name="adTitle" placeholder="请输入楼盘广告语" lay-verify="require" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>楼盘类型：</label>
                <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;" lay-error="请至少选择一个楼盘类型">
                    <input type="checkbox" name="type[]" title="住宅" lay-verify="checked" lay-group="type" />
                    <input type="checkbox" name="type[]" title="别墅" lay-verify="checked" lay-group="type" />
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>楼盘特色：</label>
            <div class="layui-input-block checkbox-left checkbox-primary" lay-error="请至少选择一个楼盘特色" style="padding-right: 120px;" >
                <input type="checkbox" name="feature[]" title="住宅" lay-verify="checked" lay-group="feature" />
                <input type="checkbox" name="feature[]" title="别墅" lay-verify="checked" lay-group="feature" />
                <input type="checkbox" name="feature[]" title="商铺" lay-verify="checked" lay-group="feature" />
                <div class="layui-inline extra layui-width">
                    <input type="text" name="featureExtra[]" lay-verify="checked" lay-group="feature" placeholder="其他楼盘特色" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>装修情况：</label>
            <div class="layui-input-block checkbox-left checkbox-primary" lay-error="请至少选择一个装修情况" style="padding-right: 120px;">
                <input type="checkbox" name="decoration[]" title="住宅" lay-verify="checked" lay-group="decoration" />
                <input type="checkbox" name="decoration[]" title="别墅" lay-verify="checked" lay-group="decoration" />
                <input type="checkbox" name="decoration[]" title="商铺" lay-verify="checked" lay-group="decoration" />
                <div class="layui-inline extra layui-width">
                    <input type="text" name="decorationExtra[]" lay-verify="checked" lay-group="decoration" placeholder="其他装修情况" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"><span class="layui-color-danger">*</span>建筑形式：</label>
            <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;">
                <input type="checkbox" name="buildingType[]" title="底层" lay-verify="checked" lay-group="buildingType" />
                <input type="checkbox" name="buildingType[]" title="多层" lay-verify="checked" lay-group="buildingType"  />
                <input type="checkbox" name="buildingType[]" title="小高层" lay-verify="checked" lay-group="buildingType"/>
                <input type="checkbox" name="buildingType[]" title="高层" lay-verify="checked" lay-group="buildingType" />
                <div class="layui-inline extra layui-width">
                    <input type="text" name="buildingTypeExtra[]" lay-verify="checked" lay-group="buildingType" placeholder="其他建筑形式" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">推荐理由：</label>
            <div class="layui-input-block" style="padding-right: 120px;">
                <textarea placeholder="请输入推荐理由" name="reason" class="layui-textarea" lay-height="auto"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>总栋数：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="buildingNum" lay-verify="require" placeholder="总栋数" class="layui-input">
                </div>
                <label class="layui-text layui-label">栋</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>总套数：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="houseNum" lay-verify="require" placeholder="总套数" class="layui-input">
                </div>
                <label class="layui-text layui-label">套</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">停车位：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="parkingNum" placeholder="停车位" class="layui-input">
                </div>
                <label class="layui-text layui-label">个</label>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label"><span class="layui-color-danger">*</span>开盘日期：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="started_at" lay-verify="require" lay-filter="date" lay-format="YYYY-MM-DD hh:00:00" placeholder="开盘日期" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">入住日期：</label>
                <div class="layui-input-inline">
                    <input type="text" value="" name="joined_at" lay-filter="date" placeholder="入住日期" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权重设置：</label>
            <div class="layui-input-block checkbox-left checkbox-primary" style="padding-right: 120px;">
                <input type="checkbox" name="weight[]" title="热售" />
                <input type="checkbox" name="weight[]" title="优惠" />
                <input type="checkbox" name="weight[]" title="最新" />
                <input type="checkbox" name="weight[]" title="置顶" />
                <input type="checkbox" name="weight[]" title="推荐" />
            </div>
        </div>

        <div class="layui-form-item" style="width: 900px;margin: 0 auto;">
            <div class="layui-inline">
                <label class="layui-form-label"></label>
                <input type="hidden" name="type" value="{$Think.request.type}" title="房源类型" />
                <button class="layui-btn" lay-submit="" lay-filter="submit">添加</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>

</section>

<script src="__JS__/site.js"></script>
<script src="__JS__/back.js"></script>
<script>

    layui.use(['form'],function () {
        var form = layui.form();

    });

    $(function () {
        var options = {
            form:'#defaultForm',
            success:console.log
        };
        Back.submit(options);
    });

    Site.uploader({
        elem:'#BuildingLogo_file',
        targetElem:'#logo',
        url: '/manage/ajax/uploader?file=file',
        isAjax:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#logo').val());
        }
    });

    Site.uploader({
        elem:'#BuildingDetail_file',
        targetElem:'#url',
        url: '/manage/ajax/uploader?file=file',
        title:'上传楼盘图片',
        isAjax:true,
        isMulti:true,
        success: function (res, input) {
            console.log(res);
            console.log($('#url').val());
        }
    });

</script>

</body>

</html>